# Chapter 3 </n>
## Built-in Data Structures, Functions and files </n>
### 3.1 Data Structures and Sequences

#### Tuple - a fixed-length, immutable sequence of Python objects

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
## tup[2] = false will cause an eror as tup[2] cannot be changes

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('Bar',)

(4, None, 'foo', 6, 0, 'Bar')

In [14]:
(4, None, 'foo') * 4

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo', 4, None, 'foo')

Unpacking tuples

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6,7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

Typical swap

In [21]:
tmp = a

In [22]:
a = b

In [23]:
b = tmp

swap a and b

In [24]:
a, b = 1, 2

In [25]:
b, a = a, b

Unpacking - iterating over sequences of tuples or lists

In [26]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [27]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

pluck a few elements form the beginning of a tuplet

In [28]:
values = 1, 2, 3, 4, 5

In [29]:
a, b, *rest = values

In [30]:
a,b

(1, 2)

In [31]:
rest

[3, 4, 5]

In [32]:
a = (1, 2, 2, 2, 3, 4, 2)

In [33]:
a.count(2)

4

#### List - In contrast to trupes, lists are variable-length and their contents can be modified in-place

In [34]:
a_list = [2, 3, 7, None]

In [35]:
tup = ('foo', 'bar', 'baz')

In [36]:
b_list = list(tup)

In [37]:
b_list

['foo', 'bar', 'baz']

In [38]:
b_list[1] = 'peekaboo'

In [39]:
b_list

['foo', 'peekaboo', 'baz']

The list function is frequently used as a way to materalize an iterator or generator expression

In [40]:
gen = range(10)

In [41]:
gen

range(0, 10)

In [42]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
b_list.append('dwarf')

In [44]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [45]:
b_list.insert(1, 'red')

In [46]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [47]:
b_list.pop(2)

'peekaboo'

In [48]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [49]:
b_list.append('foo')

In [50]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [51]:
b_list.remove('foo')

In [52]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [53]:
'dwarf' in b_list

True

In [54]:
'dwarf' not in b_list

False

In [55]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [56]:
x = [4, None, 'foo']

extend is less expensive than concatenation

In [57]:
x.extend([7, 8, (2, 3)])

In [58]:
x

[4, None, 'foo', 7, 8, (2, 3)]

Sorting

In [59]:
a = [7, 2, 5, 1, 3]

In [60]:
a.sort()

In [61]:
a

[1, 2, 3, 5, 7]

In [62]:
b=['saw', 'small', 'He', 'foxes', 'six']

In [63]:
b.sort(key=len)

In [64]:
b

['He', 'saw', 'six', 'small', 'foxes']

Binary search and maintaining a sorted list

In [65]:
import bisect

In [66]:
c = [1, 2, 2, 2, 3, 4, 7]

In [67]:
bisect.bisect(c, 2)

4

In [68]:
bisect.bisect(c, 5)

6

In [69]:
bisect.insort(c, 6)

In [70]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

Slicing

In [71]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [72]:
seq[1:5]

[2, 3, 7, 5]

In [73]:
seq[3:4] = [6, 3]

In [74]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [75]:
seq[:5]

[7, 2, 3, 6, 3]

In [76]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [77]:
seq[-4:]

[5, 6, 0, 1]

In [78]:
seq[-6:-2]

[6, 3, 5, 6]

In [79]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [80]:
seq[::2] # take every other element

[7, 3, 3, 6, 1]

In [81]:
seq[::-1] # reversing a list

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### Built-in Sequence Functions

enumerate

In [82]:
some_list = ['foo', 'bar', 'baz']

In [83]:
mapping = {}

In [84]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [85]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

sorted

In [86]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [87]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip

In [88]:
seq1 = ['foo', 'bar', 'baz']

In [89]:
seq2 = ['one', 'two', 'three']

In [90]:
zipped = zip(seq1, seq2)

In [91]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [92]:
seq3 = [False, True]

In [93]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of zip is similtaneously iterating over multiple sequences, possibly also combine with enumerate

In [94]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [95]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Curt', 'Shilling')]

In [96]:
first_name, last_name = zip(*pitchers)

In [97]:
first_name

('Nolan', 'Roger', 'Curt')

In [98]:
last_name

('Ryan', 'Clemens', 'Shilling')

Reversed

In [99]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### dict - more common name is hash map or associated array </n>
##### It is a flexible sized collection of key-value pairs, where key and value are Python objects

In [100]:
empty_dict = {}

In [101]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [102]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [103]:
d1[7] = 'an integer'

In [104]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [105]:
d1['b']

[1, 2, 3, 4]

In [106]:
'b' in d1 # her we check if dict contains a key the same way as whether a list contains a value

True

In [107]:
d1[5] = 'some value'

In [108]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [109]:
d1['dummy'] = 'another value'

In [110]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [111]:
del d1[5]

In [112]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [113]:
ret = d1.pop('dummy')

In [114]:
ret

'another value'

In [115]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [116]:
list(d1.keys())

['a', 'b', 7]

In [117]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [118]:
d1.update({'b' : 'foo', 'c' : 12})

In [119]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

Creating dicts from sequences

In [120]:
mapping = dict(zip(range(5), reversed(range(5))))

In [121]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Default Values

In [122]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [123]:
by_letter = {}

In [124]:
for word in words:
    letter = word[0]
    if letter not in by_letter: # I think this not in is on the key not the value
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [125]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Valid dict key type - dict keys generally have to be immutable objects like scalar types (int, float, string) or tuples(all the objects in a tuple need to be immutable, too)

In [126]:
hash('string')

3955126518140426381

In [127]:
hash((1, 2, (2, 3)))

1097636502276347782

In [128]:
# hash((1, 2 [2, 3])) # fails because lists are mutable

To use a list as a key

In [129]:
d = {}

In [130]:
d[tuple([1, 2, 3])] = 5

In [131]:
d

{(1, 2, 3): 5}

#### Set - an unordered collection of unique elements, like dicts, but keys only, no values

In [132]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [133]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [134]:
a = {1, 2, 3, 4, 5}

In [135]:
b = {3, 4, 5, 6, 7, 8}

In [136]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [137]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
a.intersection(b)

{3, 4, 5}

In [139]:
a & b

{3, 4, 5}

In [140]:
c = a.copy()

In [141]:
c |= b

In [142]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [143]:
d = a.copy()

In [144]:
d &= b

In [145]:
d

{3, 4, 5}

Like dicts, set elements generally must be immutable. To have a list like element, you must convert it to a tuple

In [146]:
my_data = [1, 2, 3, 4]

In [147]:
my_set = {tuple(my_data)}

In [148]:
my_set

{(1, 2, 3, 4)}

In [149]:
a_set = {1, 2, 3, 4, 5}

In [150]:
{1, 2, 3}.issubset(a_set)

True

In [151]:
a_set.issuperset({1, 2, 3})

True

In [152]:
{1, 2, 3} == {3, 2, 1}

True

#### List, Set, and Dict Comprehensions </n>
###### List Comprehensions all you to form a new list by filtering the elements of a collection

Lists - use []

In [153]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [154]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

Set and Dict comprehensions - use {}

Set Comprehension

In [155]:
unique_length = {len(x) for x in strings}

In [156]:
unique_length

{1, 2, 3, 4, 6}

In [157]:
set(map(len, strings))

{1, 2, 3, 4, 6}

Dict comprehension

In [158]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [159]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

Nested list comprehensions

In [160]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [161]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [162]:
result

['Steven']

In [163]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [164]:
flattened = [x for tup in some_tuples for x in tup]

# flattened[]
#
# for tup in some_tuple:
#   for x in tup:
#       flattened.append(x)

In [165]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 3.2 Functions </n>
code organisation and reuse

In [167]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [168]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [169]:
my_function(3.14, 7, 3.5)

35.49

In [170]:
my_function(10,20)

45.0

In [171]:
my_function(x=5, y=6, z=7)

77

In [172]:
my_function(y=6, x=5, z=7)

77

#### Namespaces, Scope, and Function

In [173]:
a = []

In [174]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [175]:
func()

In [176]:
a

[]

In [177]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [178]:
func()

In [179]:
a

[0, 1, 2, 3, 4]

In [180]:
func()

In [181]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

global

In [182]:
a = None

In [183]:
def bind_a_variable():
    global a
    a = []

In [184]:
bind_a_variable()

In [185]:
print(a)

[]

#### Returning multiple values

In [186]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [187]:
a, b, c = f()

In [188]:
print(a, b, c)

5 6 7

return_value can be a 3-tuple

In [189]:
return_value = f()

In [190]:
return_value

(5, 6, 7)

Or return a dict instead

In [191]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b' : b, 'c' : c}

In [192]:
return_value = f()

In [193]:
return_value

{'a': 5, 'b': 6, 'c': 7}

#### Functions are objects
Data cleaning and transformations

In [194]:
states = ['    Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [195]:
import re

In [196]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [197]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

An alternative approach - make a list of the operations you want to apply

In [198]:
states = ['    Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [199]:
def remove_punctuation(value):
    return re.sub('[!#]', '', value)

In [200]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [201]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [202]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia?']

You can use functions as arguments to other functions like the built in map function

In [203]:
for x in map(remove_punctuation, states):
    print(x)

    Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia?

#### Anonymous (Lambda) Functions
Writing functions consisting of a single statement

In [204]:
def short_function(x):
    return x * 2

In [205]:
short_function(3)

6

In [206]:
equiv_anon = lambda x: x * 2

In [207]:
equiv_anon(3)

6

An advantabe is lambda functions can be used as arguements to many data transformation functions

In [208]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [209]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

Another example - sort a collection of strings by the number of distinct letters in each string

In [210]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [211]:
strings.sort(key=lambda x: len(set(list(x))))

In [212]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

#### Currying: Partial Argument Application
Deriving new functions from existing ones by partial argument application

In [213]:
def add_numbers(x, y):
    return x + y

In [214]:
add_five = lambda y: add_numbers(5, y)

In [215]:
add_five(3)

8

Alternativly using built-in function functools module / partial function

In [216]:
from functools import partial
add_five = partial(add_numbers, 5)

In [217]:
add_five(5)

10

#### Generators
A generator is a concise way to construct a new iterable object

Example iterating over a dict yields the dict key

In [218]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [219]:
for key in some_dict:
    print(key)

a
b
c

In [220]:
dict_iterator = iter(some_dict)

In [221]:
dict_iterator

In [222]:
list(dict_iterator)

['a', 'b', 'c']

Generator example - to create a generator use the yield keyword instead of return in a function

In [223]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n+1):
        yield i ** 2

In [224]:
gen = squares()

In [225]:
gen

In [226]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

Generator expressions

In [227]:
gen = (x ** 2 for x in range(100))

In [228]:
gen

In [229]:
sum(x ** 2 for x in range(100))

328350

In [230]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

itertools module - has a collection of generators for many common data algorithems

In [231]:
import itertools

In [232]:
first_letter = lambda x: x[0]

In [233]:
first_letter('Alan')

'A'

In [234]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [235]:
for letter, names in itertools.groupby(names, first_letter):
    print (letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

#### Errors and Exception Handling

In [236]:
float('1.2345')

1.2345

In [237]:
## float('something')  # This will cause an error

In [238]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [239]:
attempt_float('1.2345')

1.2345

In [240]:
attempt_float('something')

'something'

In [241]:
def attempt_float1(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [242]:
attempt_float1('something')

'something'

In [243]:
attempt_float1((1, 2))

(1, 2)

sample code about using finally: as part of the if, else statement

In [244]:
# f = open(path, 'w')
# 
# try:
#     write_to_file(f)
# except:
#     print('Failed')
# else:
#     print('Succeeded')
# finally:
#     f.close()

Exceptions in Ipython

In [245]:
%run "C://Users/MartinVM1/projects/python-for-data-analysis/pydata-book-2nd-edition/examples/ipython_bug.py"

AssertionError:

### 3.3 Files and the Operating System

In [246]:
## path = "C://Users/MartinVM1/projects/python-for-data-analysis/pydata-book-2nd-edition/examples/segismundo.txt"

In [247]:
path = "../pydata-book-2nd-edition/examples/segismundo.txt"

In [248]:
f = open(path)

In [249]:
for line in f: # we can treat the file handle f like a list and iterate over the lines like this
    pass

In [250]:
lines = [x.rstrip() for x in open(path)]

In [251]:
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [252]:
f.close()

Use with statement to make it easier to clean up open files

In [253]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

read, seek and tell

In [254]:
f = open(path)

In [255]:
f.read(10)

'Suea el '

In [256]:
f2 = open(path, 'rb') # Binary mode

In [257]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [258]:
f.tell()

10

In [259]:
f2.tell()

10

To check the default encoding in the sys module

In [260]:
import sys

In [261]:
sys.getdefaultencoding()

'utf-8'

seek changes the file position to the indicated byte in the file

In [262]:
f.seek(3)

3

In [263]:
f.read(1)

''

In [264]:
f.close()

In [265]:
f2.close()

In [266]:
path

'../pydata-book-2nd-edition/examples/segismundo.txt'

In [267]:
with open('../pydata-book-2nd-edition/examples/Scratch/tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [268]:
with open('../pydata-book-2nd-edition/examples/Scratch/tmp.txt') as f:
    lines = f.readlines()

In [269]:
lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

#### Bytes and Unicode with Files
default is text mode - that is you intend to work with Python strings(i.e., Unicode)

In [270]:
with open(path) as f:
    chars = f.read(10)

In [271]:
chars

'Suea el '

In [272]:
with open(path, 'rb') as f:
    data = f.read(10)

In [273]:
data

b'Sue\xc3\xb1a el '

In [274]:
data.decode('utf8')

'Suea el '

In [275]:
# data[:4].decode('utf8') # this causes error as some Unicode characters may not have been fully formed

In [276]:
sink_path = '../pydata-book-2nd-edition/examples/Scratch/sink.txt'

In [277]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

In [278]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Suea el

Beware using seek when opening files

In [279]:
f = open(path)

In [280]:
f.read(5)

'Sue'

In [281]:
f.seek(4)

4

In [282]:
f.read(1)

''

In [283]:
f.close()