# Chapter 6

## Data Loading, Storage, and File Formats

### 6.1 Reading and Writing Data in Text Format
Mecanics of reading tabular data functions<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indexing<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type inference and data conversion : some formats do not have data type in the format, some do<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datetime parsing<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iterating<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unclean data issues

In [1]:
import pandas as pd
import numpy as np

In [2]:
!cat '../pydata-book-2nd-edition/examples/ex1.csv'

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
examples = '../pydata-book-2nd-edition/examples/'

In [4]:
datasets = '../pydata-book-2nd-edition/datasets/'

In [5]:
examples

'../pydata-book-2nd-edition/examples/'

In [6]:
df = pd.read_csv(examples+'ex1.csv')

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!cat '../pydata-book-2nd-edition/examples/ex2.csv' # when a file had no header row

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

cat: '#': No such file or directory
cat: when: No such file or directory
cat: a: No such file or directory
cat: file: No such file or directory
cat: had: No such file or directory
cat: no: No such file or directory
cat: header: No such file or directory
cat: row: No such file or directory

In [9]:
pd.read_csv(examples+'ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv(examples+'ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Suppose you wanted the message column to be the index

In [11]:
names = ['a', 'b', 'c', 'd', 'message']

In [12]:
pd.read_csv(examples+'ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

Hierarchical index

In [13]:
!cat '../pydata-book-2nd-edition/examples/csv_mindex.csv'

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed = pd.read_csv(examples+'csv_mindex.csv',
                    index_col=['key1', 'key2'])

In [15]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
list(open(examples+'ex3.txt')) # some files migth no have a fixed delimiter

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [17]:
result = pd.read_csv(examples+'ex3.txt', sep='\s+')

In [18]:
result # first column is auto DataFrame index because one less col than rows in this special case

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [19]:
!cat ../pydata-book-2nd-edition/examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
pd.read_csv(examples+'ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
!cat ../pydata-book-2nd-edition/examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [22]:
result = pd.read_csv(examples+'ex5.csv') # handeling missing data automaticaly

In [23]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [24]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [25]:
result = pd.read_csv(examples+'ex5.csv', na_values=['NULL']) # na_values option

In [26]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']} # different NA sentinels for each col via dict

In [28]:
pd.read_csv(examples+'ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

#### Reading Text Files in Pieces

In [29]:
pd.options.display.max_rows = 10 # making the pandas display more compact

In [30]:
results = pd.read_csv(examples+'ex6.csv')

In [31]:
results

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [32]:
pd.read_csv(examples+'ex6.csv', nrows=5) # read the first five rows

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [33]:
chunker = pd.read_csv(examples+'ex6.csv', chunksize=1000) # read a file in pieces

In [34]:
chunker

Iterate over ex6.csv, aggrigating the value counts in the 'key' column

In [35]:
tot = pd.Series([])

In [36]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [37]:
tot = tot.sort_values(ascending=False)

In [38]:
tot[:10] # display the top 10 totals

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

#### Writing Data to Text Format

In [39]:
data = pd.read_csv(examples+'ex5.csv')

In [40]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
data.to_csv(examples+'out.csv') # using DataFrame's to_csv method to write/overwrite to csv file

In [42]:
!cat ../pydata-book-2nd-edition/examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [43]:
import sys # writing to sys.stdout so it prints the text to the console
data.to_csv(sys.stdout, sep='|') # other delimiters can be used

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [44]:
data.to_csv(sys.stdout, na_rep='NULL') # denote missing values with NULL

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [45]:
data.to_csv(sys.stdout, index=False, header=False) # disable col and row labels

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [46]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has a to_csv method

In [47]:
dates = pd.date_range('1/1/2000', periods=7)

In [48]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [49]:
 ts = pd.Series(np.arange(7), index=dates) # np.arange create an array ([0 - 6])

In [50]:
ts.to_csv(examples+'tseries.csv')

c:\users\martinvm1\envs\py2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [51]:
!cat ../pydata-book-2nd-edition/examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

#### Working with Delimited Formats

In [52]:
!cat ../pydata-book-2nd-edition/examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [53]:
import csv
f = open(examples+'ex7.csv')

In [54]:
reader = csv.reader(f) # pass any open file or file-like object to csv.reader

In [55]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

Wrangling the data, spliting the header line from the data lines

In [56]:
with open(examples+'ex7.csv') as f:
    lines = list(csv.reader(f))

In [57]:
header, values = lines[0], lines[1:] # header first line, remaining lines are values

Then we can create a dict and the expression zip(*values) which transposes rows to columns

In [58]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [59]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV dialect

In [60]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [61]:
f = open(examples+'ex7.csv') # extra to book, file was closed before I got here

In [62]:
reader = csv.reader(f, dialect=my_dialect)

In [63]:
reader = csv.reader(f, delimiter='|') # we can give CSV dialect parameters as keywords without having to define a sub-class

To write delimited files manually

In [64]:
with open(examples+'mydata.csv', 'w') as f:
    write = csv.writer(f, dialect=my_dialect)
    write.writerow(('one', 'two', 'three'))
    write.writerow(('1', '2', '3'))
    write.writerow(('4', '5', '6'))
    write.writerow(('7', '8', '9'))

#### JSON Data

In [65]:
obj = """
{"name": "Wes",
"place_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
             {"name": "Katie", "age": 38,
                "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [66]:
obj

'\n{"name": "Wes",\n"place_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n             {"name": "Katie", "age": 38,\n                "pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [67]:
import json

In [68]:
result = json.loads(obj)

In [69]:
result

{'name': 'Wes',
 'place_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [70]:
asjson = json.dumps(result) # convert the python object back to json

You can pass a list of dicts (previous JSON objects) to the DataFrame constructor and select a sub-set of the data

In [71]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age']) #

In [72]:
siblings

    name  age
0  Scott   30
1  Katie   38

pandas.read_json can automatically convert JSON datasets into a Series of DataFrame

In [73]:
!cat ../pydata-book-2nd-edition/examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [74]:
data = pd.read_json(examples+'example.json') # default assumes each object is the JSON array in a row in the table

In [75]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
print(data.to_json()) # print/export option 1

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [77]:
print(data.to_json(orient='records')) # print/export option 2

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

#### XML and HTML: Web Scraping
Useful libraries are lxml (http://lxml.de), Beautiful Soup and html5lib, lxml is the fastest<br/>
installed beautifulsoup4 & html5lib

pandas.read_html by default searches and attempts to parse all tabular data contained within < table > tags resulting in DataFrame objects<br/>

In [78]:
tables = pd.read_html(examples+'fdic_failed_bank_list.html')

In [79]:
len(tables)

1

In [80]:
failures = tables[0]

In [81]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [82]:
close_timestamp = pd.to_datetime(failures['Closing Date'])

In [83]:
close_timestamp.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

##### Parsing XML with lxml.objectify

In [84]:
from lxml import objectify

In [85]:
path = datasets+'mta_perf/Performance_MNR.xml'

In [86]:
parsed = objectify.parse(open(path))

In [87]:
root = parsed.getroot()

In [88]:
data = []

In [89]:
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACE']

In [90]:
for etl in root.INDICATOR:
    el_data = {}
    for child in etl.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [91]:
pref = pd.DataFrame(data)

In [92]:
pref.head()

,AGENCY_NAME,CATEGORY,DECIMAL_PLACES,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,1,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,1,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,1,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,1,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,1,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

Another example : consider a HTML link tag

In [93]:
from io import StringIO

In [94]:
tag = '<a href="http://www.google.com">Google</a>'

In [95]:
root = objectify.parse(StringIO(tag)).getroot()

In [96]:
root

In [97]:
root.get('href')

'http://www.google.com'

In [98]:
root.text

'Google'

### Binary Data Formats

In [99]:
frame = pd.read_csv(examples+'ex1.csv')

In [100]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [101]:
frame.to_pickle(examples+'frame_pickle')

In [102]:
pd.read_pickle(examples+'frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

pandas has built-in support for two more binary formats: HDF5 and Message-Pack

other formats to consider, depending on you analytics are bcolz and Feather

#### Using HDF5 Format
Hierarchical data format<br/>
Can access directly using PyTables or h5py, however HDFStore simplifies this, works like a dict and handles the low-level details

In [103]:
frame = pd.DataFrame({'a': np.random.rand(100)})

pip install tables

In [104]:
store = pd.HDFStore(examples+'mydata.h5')

In [105]:
store['obj1'] = frame

In [106]:
store['obj1_col'] = frame['a']

In [107]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: ../pydata-book-2nd-edition/examples/mydata.h5

In [108]:
store['obj1']

           a
0   0.946690
1   0.745955
2   0.723117
3   0.744815
4   0.382292
..       ...
95  0.359988
96  0.436516
97  0.279989
98  0.594985
99  0.115975

[100 rows x 1 columns]

HDFStore storage schemas are 'fixed' and 'table'. table is slower but queryable

In [109]:
store.put('obj2', frame, format='table') # the file mydata.h5 was modified, probably contains obj2 on disk

In [110]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.840907
11  0.926885
12  0.743885
13  0.146401
14  0.617165
15  0.427603

In [111]:
store.close()

In [112]:
frame.to_hdf(examples+'mydata.h5', 'obj3' , format='table')

In [113]:
pd.read_hdf(examples+'mydata.h5', 'obj3', where=['index < 5'])

          a
0  0.946690
1  0.745955
2  0.723117
3  0.744815
4  0.382292

#### Reading Excel Files
using ExcelFile class or pandas.read_excel functions<br/>
pip install xlrd and openpyxl

In [114]:
xlsx = pd.ExcelFile(examples+'ex1.xlsx') # excel read option 1

In [115]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [116]:
frame = pd.read_excel(examples+'ex1.xlsx', 'Sheet1') # excel read option 2

In [117]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

ExcelWriter

In [118]:
writer = pd.ExcelWriter(examples+'ex2.xlsx')

In [119]:
frame.to_excel(writer, 'Sheet1')

In [120]:
writer.save()

You can also pass a filename to .to_excel and avoid the ExcelWriter

In [121]:
frame.to_excel(examples+'ex2.xlsx')

read back

In [122]:
xlsx = pd.ExcelFile(examples+'ex2.xlsx') # excel read option 1

In [123]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  Unnamed: 0.1  a   b   c   d message
0           0             0  1   2   3   4   hello
1           1             1  5   6   7   8   world
2           2             2  9  10  11  12     foo

### Interacting with Web APIs
Some websites have public APIs providing data feeds via JSON or some other firmat. requests package recommended

Find the last 30 GitHub issues for Pandas on GitHub

In [124]:
import requests

In [125]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [126]:
resp = requests.get(url)

In [127]:
resp

The Response object's json method will return a dictionary containing JSON parsed into native Python objects

In [128]:
data = resp.json()

In [129]:
data[0]['title']

'Initial pandas.typing Module'

In [130]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [131]:
issues

,number,title,labels,state
0,25884,Initial pandas.typing Module,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
1,25883,GroupBy.apply runtime performance regression i...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
2,25882,Typing Cleanup - Remove Blacklisted Items,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
3,25881,.at does not work using a categorical index.,[],open
4,25880,Int64Dtype conversion seems to casts to double...,[],open
...,...,...,...,...
25,25823,Logical operations on np.bool_ using pandas.ev...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,25820,[PERF] Get rid of MultiIndex conversion in Int...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
27,25818,sort_index for MultiIndex DataFrame silently f...,[],open
28,25816,Series.replace throws TypeError only on large ...,[],open
29,25815,wrong aggregated results when pivot_table inde...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

### Interacting with Databases

sqlite3

In [132]:
import sqlite3

In [133]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTERGER);
"""

In [134]:
con = sqlite3.connect('mydata.sqlite')

In [135]:
con.execute(query)

OperationalError: table test already exists

In [ ]:
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahasee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

In [ ]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [ ]:
con.executemany(stmt, data)

In [ ]:
cursor = con.execute('select * from test')

In [ ]:
rows = cursor.fetchall()

In [ ]:
rows

In [ ]:
cursor.description

In [ ]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

SQLAlchemy abstracts away many of the common differences between SQL databases

In [ ]:
# import sqlalchemy as sqla # I have decided not to use SQLAlchemy for now

MySQL

In [136]:
import mysql.connector

In [143]:
mydb = mysql.connector.connect(host="localhost", user="root", passwd="MySQLsad1", database="world")

In [144]:
mycursor = mydb.cursor()

In [149]:
mycursor.execute("select * from city")

In [150]:
result = mycursor.fetchall()

In [152]:
for i in result:
    print(i)

(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)
(5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200)
(6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321)
(7, 'Haag', 'NLD', 'Zuid-Holland', 440900)
(8, 'Utrecht', 'NLD', 'Utrecht', 234323)
(9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843)
(10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)
(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)
(16, 'Haarlem', 'NLD', 'Noord-Holland', 148772)
(17, 'Almere', 'NLD', 'Flevoland', 142465)
(18, 'Arnhem', 'NLD', 'Gelderland', 138020)
(19, 'Zaanstad', 'NLD', 'Noord-Holland', 135621)
(20, 'Â´s-Hertogenbosch', 'NLD', 'Noord-Brabant', 129170)
(21, 'Amersfoort', 'NLD', 'Utrecht', 126270)
(22, 'Maastricht', 'NLD', 'Limburg', 122087)
(23, 'Dordrecht', 'NLD', 'Zuid-Holland', 119811)
(24, 'Leiden', 'NLD', 'Zuid-Holland', 117196)
(25, 'Haarlemmermeer', 'NLD', 'Noord-Holland', 110722)
(26, 'Zoetermeer', 'NLD', 'Zuid-Holland', 110214)
(27, 'Emmen', 'NLD', 'Drenthe', 105853)
(28, 'Zwolle', 'NLD', 'Overijssel', 105819)
(29, 'Ede', 'NLD', 'Gelderland', 101574)
(30, 'Delft', 'NLD', 'Zuid-Holland', 95268)
(31, 'Heerlen', 'NLD', 'Limburg', 95052)
(32, 'Alkmaar', 'NLD', 'Noord-Holland', 92713)
(33, 'Willemstad', 'ANT', 'CuraÃ§ao', 2345)
(34, 'Tirana', 'ALB', 'Tirana', 270000)
(35, 'Alger', 'DZA', 'Alger', 2168000)
(36, 'Oran', 'DZA', 'Oran', 609823)
(37, 'Constantine', 'DZA', 'Constantine', 443727)
(38, 'Annaba', 'DZA', 'Annaba', 222518)
(39, 'Batna', 'DZA', 'Batna', 183377)
(40, 'SÃ©tif', 'DZA', 'SÃ©tif', 179055)
(41, 'Sidi Bel AbbÃ¨s', 'DZA', 'Sidi Bel AbbÃ¨s', 153106)
(42, 'Skikda', 'DZA', 'Skikda', 128747)
(43, 'Biskra', 'DZA', 'Biskra', 128281)
(44, 'Blida (el-Boulaida)', 'DZA', 'Blida', 127284)
(45, 'BÃ©jaÃ¯a', 'DZA', 'BÃ©jaÃ¯a', 117162)
(46, 'Mostaganem', 'DZA', 'Mostaganem', 115212)
(47, 'TÃ©bessa', 'DZA', 'TÃ©bessa', 112007)
(48, 'Tlemcen (Tilimsen)', 'DZA', 'Tlemcen', 110242)
(49, 'BÃ©char', 'DZA', 'BÃ©char', 107311)
(50, 'Tiaret', 'DZA', 'Tiaret', 100118)
(51, 'Ech-Chleff (el-Asnam)', 'DZA', 'Chlef', 96794)
(52, 'GhardaÃ¯a', 'DZA', 'GhardaÃ¯a', 89415)
(53, 'Tafuna', 'ASM', 'Tutuila', 5200)
(54, 'Fagatogo', 'ASM', 'Tutuila', 2323)
(55, 'Andorra la Vella', 'AND', 'Andorra la Vella', 21189)
(56, 'Luanda', 'AGO', 'Luanda', 2022000)
(57, 'Huambo', 'AGO', 'Huambo', 163100)
(58, 'Lobito', 'AGO', 'Benguela', 130000)
(59, 'Benguela', 'AGO', 'Benguela', 128300)
(60, 'Namibe', 'AGO', 'Namibe', 118200)
(61, 'South Hill', 'AIA', 'Â–', 961)
(62, 'The Valley', 'AIA', 'Â–', 595)
(63, 'Saint JohnÂ´s', 'ATG', 'St John', 24000)
(64, 'Dubai', 'ARE', 'Dubai', 669181)
(65, 'Abu Dhabi', 'ARE', 'Abu Dhabi', 398695)
(66, 'Sharja', 'ARE', 'Sharja', 320095)
(67, 'al-Ayn', 'ARE', 'Abu Dhabi', 225970)
(68, 'Ajman', 'ARE', 'Ajman', 114395)
(69, 'Buenos Aires', 'ARG', 'Distrito Federal', 2982146)
(70, 'La Matanza', 'ARG', 'Buenos Aires', 1266461)
(71, 'CÃ³rdoba', 'ARG', 'CÃ³rdoba', 1157507)
(72, 'Rosario', 'ARG', 'Santa FÃ©', 907718)
(73, 'Lomas de Zamora', 'ARG', 'Buenos Aires', 622013)
(74, 'Quilmes', 'ARG', 'Buenos Aires', 559249)
(75, 'Almirante Brown', 'ARG', 'Buenos Aires', 538918)
(76, 'La Plata', 'ARG', 'Buenos Aires', 521936)
(77, 'Mar del Plata', 'ARG', 'Buenos Aires', 512880)
(78, 'San Miguel de TucumÃ¡n', 'ARG', 'TucumÃ¡n', 470809)
(79, 'LanÃºs', 'ARG', 'Buenos Aires', 469735)
(80, 'Merlo', 'ARG', 'Buenos Aires', 463846)
(81, 'General San MartÃ\xadn', 'ARG', 'Buenos Aires', 422542)
(82, 'Salta', 'ARG', 'Salta', 367550)
(83, 'Moreno', 'ARG', 'Buenos Aires', 356993)
(84, 'Santa FÃ©', 'ARG', 'Santa FÃ©', 353063)
(85, 'Avellaneda', 'ARG', 'Buenos Aires', 353046)
(86, 'Tres de Febrero', 'ARG', 'Buenos Aires', 352311)
(87, 'MorÃ³n', 'ARG', 'Buenos Aires', 349246)
(88, 'Florencio Varela', 'ARG', 'Buenos Aires', 315432)
(89, 'San Isidro', 'ARG', 'Buenos Aires', 306341)
(90, 'Tigre', 'ARG', 'Buenos Aires', 296226)
(91, 'Malvinas Argentinas', 'ARG', 'Buenos Aires', 290335)
(92, 'Vicente LÃ³pez', 'ARG', 'Buenos Aires', 288341)
(93, 'Berazategui', 'ARG', 'Buenos Aires', 276916)
(94, 'Corrientes', 'ARG', 'Corrientes', 258103)
(95, 'San Miguel', 'ARG', 'Buenos Aires', 248700)
(96, 'BahÃ\xada Blanca', 'ARG', 'Buenos Aires', 239810)
(97, 'Esteban EcheverrÃ\xada', 'ARG', 'Buenos Aires', 235760)
(98, 'Resistencia', 'ARG', 'Chaco', 229212)
(99, 'JosÃ© C. Paz', 'ARG', 'Buenos Aires', 221754)
(100, 'ParanÃ¡', 'ARG', 'Entre Rios', 207041)
(101, 'Godoy Cruz', 'ARG', 'Mendoza', 206998)
(102, 'Posadas', 'ARG', 'Misiones', 201273)
(103, 'GuaymallÃ©n', 'ARG', 'Mendoza', 200595)
(104, 'Santiago del Estero', 'ARG', 'Santiago del Estero', 189947)
(105, 'San Salvador de Jujuy', 'ARG', 'Jujuy', 178748)
(106, 'Hurlingham', 'ARG', 'Buenos Aires', 170028)
(107, 'NeuquÃ©n', 'ARG', 'NeuquÃ©n', 167296)
(108, 'ItuzaingÃ³', 'ARG', 'Buenos Aires', 158197)
(109, 'San Fernando', 'ARG', 'Buenos Aires', 153036)
(110, 'Formosa', 'ARG', 'Formosa', 147636)
(111, 'Las Heras', 'ARG', 'Mendoza', 145823)
(112, 'La Rioja', 'ARG', 'La Rioja', 138117)
(113, 'San Fernando del Valle de Cata', 'ARG', 'Catamarca', 134935)
(114, 'RÃ\xado Cuarto', 'ARG', 'CÃ³rdoba', 134355)
(115, 'Comodoro Rivadavia', 'ARG', 'Chubut', 124104)
(116, 'Mendoza', 'ARG', 'Mendoza', 123027)
(117, 'San NicolÃ¡s de los Arroyos', 'ARG', 'Buenos Aires', 119302)
(118, 'San Juan', 'ARG', 'San Juan', 119152)
(119, 'Escobar', 'ARG', 'Buenos Aires', 116675)
(120, 'Concordia', 'ARG', 'Entre Rios', 116485)
(121, 'Pilar', 'ARG', 'Buenos Aires', 113428)
(122, 'San Luis', 'ARG', 'San Luis', 110136)
(123, 'Ezeiza', 'ARG', 'Buenos Aires', 99578)
(124, 'San Rafael', 'ARG', 'Mendoza', 94651)
(125, 'Tandil', 'ARG', 'Buenos Aires', 91101)
(126, 'Yerevan', 'ARM', 'Yerevan', 1248700)
(127, 'Gjumri', 'ARM', 'ÂŠirak', 211700)
(128, 'Vanadzor', 'ARM', 'Lori', 172700)
(129, 'Oranjestad', 'ABW', 'Â–', 29034)
(130, 'Sydney', 'AUS', 'New South Wales', 3276207)
(131, 'Melbourne', 'AUS', 'Victoria', 2865329)
(132, 'Brisbane', 'AUS', 'Queensland', 1291117)
(133, 'Perth', 'AUS', 'West Australia', 1096829)
(134, 'Adelaide', 'AUS', 'South Australia', 978100)
(135, 'Canberra', 'AUS', 'Capital Region', 322723)
(136, 'Gold Coast', 'AUS', 'Queensland', 311932)
(137, 'Newcastle', 'AUS', 'New South Wales', 270324)
(138, 'Central Coast', 'AUS', 'New South Wales', 227657)
(139, 'Wollongong', 'AUS', 'New South Wales', 219761)
(140, 'Hobart', 'AUS', 'Tasmania', 126118)
(141, 'Geelong', 'AUS', 'Victoria', 125382)
(142, 'Townsville', 'AUS', 'Queensland', 109914)
(143, 'Cairns', 'AUS', 'Queensland', 92273)
(144, 'Baku', 'AZE', 'Baki', 1787800)
(145, 'GÃ¤ncÃ¤', 'AZE', 'GÃ¤ncÃ¤', 299300)
(146, 'Sumqayit', 'AZE', 'Sumqayit', 283000)
(147, 'MingÃ¤Ã§evir', 'AZE', 'MingÃ¤Ã§evir', 93900)
(148, 'Nassau', 'BHS', 'New Providence', 172000)
(149, 'al-Manama', 'BHR', 'al-Manama', 148000)
(150, 'Dhaka', 'BGD', 'Dhaka', 3612850)
(151, 'Chittagong', 'BGD', 'Chittagong', 1392860)
(152, 'Khulna', 'BGD', 'Khulna', 663340)
(153, 'Rajshahi', 'BGD', 'Rajshahi', 294056)
(154, 'Narayanganj', 'BGD', 'Dhaka', 202134)
(155, 'Rangpur', 'BGD', 'Rajshahi', 191398)
(156, 'Mymensingh', 'BGD', 'Dhaka', 188713)
(157, 'Barisal', 'BGD', 'Barisal', 170232)
(158, 'Tungi', 'BGD', 'Dhaka', 168702)
(159, 'Jessore', 'BGD', 'Khulna', 139710)
(160, 'Comilla', 'BGD', 'Chittagong', 135313)
(161, 'Nawabganj', 'BGD', 'Rajshahi', 130577)
(162, 'Dinajpur', 'BGD', 'Rajshahi', 127815)
(163, 'Bogra', 'BGD', 'Rajshahi', 120170)
(164, 'Sylhet', 'BGD', 'Sylhet', 117396)
(165, 'Brahmanbaria', 'BGD', 'Chittagong', 109032)
(166, 'Tangail', 'BGD', 'Dhaka', 106004)
(167, 'Jamalpur', 'BGD', 'Dhaka', 103556)
(168, 'Pabna', 'BGD', 'Rajshahi', 103277)
(169, 'Naogaon', 'BGD', 'Rajshahi', 101266)
(170, 'Sirajganj', 'BGD', 'Rajshahi', 99669)
(171, 'Narsinghdi', 'BGD', 'Dhaka', 98342)
(172, 'Saidpur', 'BGD', 'Rajshahi', 96777)
(173, 'Gazipur', 'BGD', 'Dhaka', 96717)
(174, 'Bridgetown', 'BRB', 'St Michael', 6070)
(175, 'Antwerpen', 'BEL', 'Antwerpen', 446525)
(176, 'Gent', 'BEL', 'East Flanderi', 224180)
(177, 'Charleroi', 'BEL', 'Hainaut', 200827)
(178, 'LiÃ¨ge', 'BEL', 'LiÃ¨ge', 185639)
(179, 'Bruxelles [Brussel]', 'BEL', 'Bryssel', 133859)
(180, 'Brugge', 'BEL', 'West Flanderi', 116246)
(181, 'Schaerbeek', 'BEL', 'Bryssel', 105692)
(182, 'Namur', 'BEL', 'Namur', 105419)
(183, 'Mons', 'BEL', 'Hainaut', 90935)
(184, 'Belize City', 'BLZ', 'Belize City', 55810)
(185, 'Belmopan', 'BLZ', 'Cayo', 7105)
(186, 'Cotonou', 'BEN', 'Atlantique', 536827)
(187, 'Porto-Novo', 'BEN', 'OuÃ©mÃ©', 194000)
(188, 'Djougou', 'BEN', 'Atacora', 134099)
(189, 'Parakou', 'BEN', 'Borgou', 103577)
(190, 'Saint George', 'BMU', 'Saint GeorgeÂ´s', 1800)
(191, 'Hamilton', 'BMU', 'Hamilton', 1200)
(192, 'Thimphu', 'BTN', 'Thimphu', 22000)
(193, 'Santa Cruz de la Sierra', 'BOL', 'Santa Cruz', 935361)
(194, 'La Paz', 'BOL', 'La Paz', 758141)
(195, 'El Alto', 'BOL', 'La Paz', 534466)
(196, 'Cochabamba', 'BOL', 'Cochabamba', 482800)
(197, 'Oruro', 'BOL', 'Oruro', 223553)
(198, 'Sucre', 'BOL', 'Chuquisaca', 178426)
(199, 'PotosÃ\xad', 'BOL', 'PotosÃ\xad', 140642)
(200, 'Tarija', 'BOL', 'Tarija', 125255)
(201, 'Sarajevo', 'BIH', 'Federaatio', 360000)
(202, 'Banja Luka', 'BIH', 'Republika Srpska', 143079)
(203, 'Zenica', 'BIH', 'Federaatio', 96027)
(204, 'Gaborone', 'BWA', 'Gaborone', 213017)
(205, 'Francistown', 'BWA', 'Francistown', 101805)
(206, 'SÃ£o Paulo', 'BRA', 'SÃ£o Paulo', 9968485)
(207, 'Rio de Janeiro', 'BRA', 'Rio de Janeiro', 5598953)
(208, 'Salvador', 'BRA', 'Bahia', 2302832)
(209, 'Belo Horizonte', 'BRA', 'Minas Gerais', 2139125)
(210, 'Fortaleza', 'BRA', 'CearÃ¡', 2097757)
(211, 'BrasÃ\xadlia', 'BRA', 'Distrito Federal', 1969868)
(212, 'Curitiba', 'BRA', 'ParanÃ¡', 1584232)
(213, 'Recife', 'BRA', 'Pernambuco', 1378087)
(214, 'Porto Alegre', 'BRA', 'Rio Grande do Sul', 1314032)
(215, 'Manaus', 'BRA', 'Amazonas', 1255049)
(216, 'BelÃ©m', 'BRA', 'ParÃ¡', 1186926)
(217, 'Guarulhos', 'BRA', 'SÃ£o Paulo', 1095874)
(218, 'GoiÃ¢nia', 'BRA', 'GoiÃ¡s', 1056330)
(219, 'Campinas', 'BRA', 'SÃ£o Paulo', 950043)
(220, 'SÃ£o GonÃ§alo', 'BRA', 'Rio de Janeiro', 869254)
(221, 'Nova IguaÃ§u', 'BRA', 'Rio de Janeiro', 862225)
(222, 'SÃ£o LuÃ\xads', 'BRA', 'MaranhÃ£o', 837588)
(223, 'MaceiÃ³', 'BRA', 'Alagoas', 786288)
(224, 'Duque de Caxias', 'BRA', 'Rio de Janeiro', 746758)
(225, 'SÃ£o Bernardo do Campo', 'BRA', 'SÃ£o Paulo', 723132)
(226, 'Teresina', 'BRA', 'PiauÃ\xad', 691942)
(227, 'Natal', 'BRA', 'Rio Grande do Norte', 688955)
(228, 'Osasco', 'BRA', 'SÃ£o Paulo', 659604)
(229, 'Campo Grande', 'BRA', 'Mato Grosso do Sul', 649593)
(230, 'Santo AndrÃ©', 'BRA', 'SÃ£o Paulo', 630073)
(231, 'JoÃ£o Pessoa', 'BRA', 'ParaÃ\xadba', 584029)
(232, 'JaboatÃ£o dos Guararapes', 'BRA', 'Pernambuco', 558680)
(233, 'Contagem', 'BRA', 'Minas Gerais', 520801)
(234, 'SÃ£o JosÃ© dos Campos', 'BRA', 'SÃ£o Paulo', 515553)
(235, 'UberlÃ¢ndia', 'BRA', 'Minas Gerais', 487222)
(236, 'Feira de Santana', 'BRA', 'Bahia', 479992)
(237, 'RibeirÃ£o Preto', 'BRA', 'SÃ£o Paulo', 473276)
(238, 'Sorocaba', 'BRA', 'SÃ£o Paulo', 466823)
(239, 'NiterÃ³i', 'BRA', 'Rio de Janeiro', 459884)
(240, 'CuiabÃ¡', 'BRA', 'Mato Grosso', 453813)
(241, 'Juiz de Fora', 'BRA', 'Minas Gerais', 450288)
(242, 'Aracaju', 'BRA', 'Sergipe', 445555)
(243, 'SÃ£o JoÃ£o de Meriti', 'BRA', 'Rio de Janeiro', 440052)
(244, 'Londrina', 'BRA', 'ParanÃ¡', 432257)
(245, 'Joinville', 'BRA', 'Santa Catarina', 428011)
(246, 'Belford Roxo', 'BRA', 'Rio de Janeiro', 425194)
(247, 'Santos', 'BRA', 'SÃ£o Paulo', 408748)
(248, 'Ananindeua', 'BRA', 'ParÃ¡', 400940)
(249, 'Campos dos Goytacazes', 'BRA', 'Rio de Janeiro', 398418)
(250, 'MauÃ¡', 'BRA', 'SÃ£o Paulo', 375055)
(251, 'CarapicuÃ\xadba', 'BRA', 'SÃ£o Paulo', 357552)
(252, 'Olinda', 'BRA', 'Pernambuco', 354732)
(253, 'Campina Grande', 'BRA', 'ParaÃ\xadba', 352497)
(254, 'SÃ£o JosÃ© do Rio Preto', 'BRA', 'SÃ£o Paulo', 351944)
(255, 'Caxias do Sul', 'BRA', 'Rio Grande do Sul', 349581)
(256, 'Moji das Cruzes', 'BRA', 'SÃ£o Paulo', 339194)
(257, 'Diadema', 'BRA', 'SÃ£o Paulo', 335078)
(258, 'Aparecida de GoiÃ¢nia', 'BRA', 'GoiÃ¡s', 324662)
(259, 'Piracicaba', 'BRA', 'SÃ£o Paulo', 319104)
(260, 'Cariacica', 'BRA', 'EspÃ\xadrito Santo', 319033)
(261, 'Vila Velha', 'BRA', 'EspÃ\xadrito Santo', 318758)
(262, 'Pelotas', 'BRA', 'Rio Grande do Sul', 315415)
(263, 'Bauru', 'BRA', 'SÃ£o Paulo', 313670)
(264, 'Porto Velho', 'BRA', 'RondÃ´nia', 309750)
(265, 'Serra', 'BRA', 'EspÃ\xadrito Santo', 302666)
(266, 'Betim', 'BRA', 'Minas Gerais', 302108)
(267, 'JundÃ\xadaÃ\xad', 'BRA', 'SÃ£o Paulo', 296127)
(268, 'Canoas', 'BRA', 'Rio Grande do Sul', 294125)
(269, 'Franca', 'BRA', 'SÃ£o Paulo', 290139)
(270, 'SÃ£o Vicente', 'BRA', 'SÃ£o Paulo', 286848)
(271, 'MaringÃ¡', 'BRA', 'ParanÃ¡', 286461)
(272, 'Montes Claros', 'BRA', 'Minas Gerais', 286058)
(273, 'AnÃ¡polis', 'BRA', 'GoiÃ¡s', 282197)
(274, 'FlorianÃ³polis', 'BRA', 'Santa Catarina', 281928)
(275, 'PetrÃ³polis', 'BRA', 'Rio de Janeiro', 279183)
(276, 'Itaquaquecetuba', 'BRA', 'SÃ£o Paulo', 270874)
(277, 'VitÃ³ria', 'BRA', 'EspÃ\xadrito Santo', 270626)
(278, 'Ponta Grossa', 'BRA', 'ParanÃ¡', 268013)
(279, 'Rio Branco', 'BRA', 'Acre', 259537)
(280, 'Foz do IguaÃ§u', 'BRA', 'ParanÃ¡', 259425)
(281, 'MacapÃ¡', 'BRA', 'AmapÃ¡', 256033)
(282, 'IlhÃ©us', 'BRA', 'Bahia', 254970)
(283, 'VitÃ³ria da Conquista', 'BRA', 'Bahia', 253587)
(284, 'Uberaba', 'BRA', 'Minas Gerais', 249225)
(285, 'Paulista', 'BRA', 'Pernambuco', 248473)
(286, 'Limeira', 'BRA', 'SÃ£o Paulo', 245497)
(287, 'Blumenau', 'BRA', 'Santa Catarina', 244379)
(288, 'Caruaru', 'BRA', 'Pernambuco', 244247)
(289, 'SantarÃ©m', 'BRA', 'ParÃ¡', 241771)
(290, 'Volta Redonda', 'BRA', 'Rio de Janeiro', 240315)
(291, 'Novo Hamburgo', 'BRA', 'Rio Grande do Sul', 239940)
(292, 'Caucaia', 'BRA', 'CearÃ¡', 238738)
(293, 'Santa Maria', 'BRA', 'Rio Grande do Sul', 238473)
(294, 'Cascavel', 'BRA', 'ParanÃ¡', 237510)
(295, 'GuarujÃ¡', 'BRA', 'SÃ£o Paulo', 237206)
(296, 'RibeirÃ£o das Neves', 'BRA', 'Minas Gerais', 232685)
(297, 'Governador Valadares', 'BRA', 'Minas Gerais', 231724)
(298, 'TaubatÃ©', 'BRA', 'SÃ£o Paulo', 229130)
(299, 'Imperatriz', 'BRA', 'MaranhÃ£o', 224564)
(300, 'GravataÃ\xad', 'BRA', 'Rio Grande do Sul', 223011)
(301, 'Embu', 'BRA', 'SÃ£o Paulo', 222223)
(302, 'MossorÃ³', 'BRA', 'Rio Grande do Norte', 214901)
(303, 'VÃ¡rzea Grande', 'BRA', 'Mato Grosso', 214435)
(304, 'Petrolina', 'BRA', 'Pernambuco', 210540)
(305, 'Barueri', 'BRA', 'SÃ£o Paulo', 208426)
(306, 'ViamÃ£o', 'BRA', 'Rio Grande do Sul', 207557)
(307, 'Ipatinga', 'BRA', 'Minas Gerais', 206338)
(308, 'Juazeiro', 'BRA', 'Bahia', 201073)
(309, 'Juazeiro do Norte', 'BRA', 'CearÃ¡', 199636)
(310, 'TaboÃ£o da Serra', 'BRA', 'SÃ£o Paulo', 197550)
(311, 'SÃ£o JosÃ© dos Pinhais', 'BRA', 'ParanÃ¡', 196884)
(312, 'MagÃ©', 'BRA', 'Rio de Janeiro', 196147)
(313, 'Suzano', 'BRA', 'SÃ£o Paulo', 195434)
(314, 'SÃ£o Leopoldo', 'BRA', 'Rio Grande do Sul', 189258)
(315, 'MarÃ\xadlia', 'BRA', 'SÃ£o Paulo', 188691)
(316, 'SÃ£o Carlos', 'BRA', 'SÃ£o Paulo', 187122)
(317, 'SumarÃ©', 'BRA', 'SÃ£o Paulo', 186205)
(318, 'Presidente Prudente', 'BRA', 'SÃ£o Paulo', 185340)
(319, 'DivinÃ³polis', 'BRA', 'Minas Gerais', 185047)
(320, 'Sete Lagoas', 'BRA', 'Minas Gerais', 182984)
(321, 'Rio Grande', 'BRA', 'Rio Grande do Sul', 182222)
(322, 'Itabuna', 'BRA', 'Bahia', 182148)
(323, 'JequiÃ©', 'BRA', 'Bahia', 179128)
(324, 'Arapiraca', 'BRA', 'Alagoas', 178988)
(325, 'Colombo', 'BRA', 'ParanÃ¡', 177764)
(326, 'Americana', 'BRA', 'SÃ£o Paulo', 177409)
(327, 'Alvorada', 'BRA', 'Rio Grande do Sul', 175574)
(328, 'Araraquara', 'BRA', 'SÃ£o Paulo', 174381)
(329, 'ItaboraÃ\xad', 'BRA', 'Rio de Janeiro', 173977)
(330, 'Santa BÃ¡rbara dÂ´Oeste', 'BRA', 'SÃ£o Paulo', 171657)
(331, 'Nova Friburgo', 'BRA', 'Rio de Janeiro', 170697)
(332, 'JacareÃ\xad', 'BRA', 'SÃ£o Paulo', 170356)
(333, 'AraÃ§atuba', 'BRA', 'SÃ£o Paulo', 169303)
(334, 'Barra Mansa', 'BRA', 'Rio de Janeiro', 168953)
(335, 'Praia Grande', 'BRA', 'SÃ£o Paulo', 168434)
(336, 'MarabÃ¡', 'BRA', 'ParÃ¡', 167795)
(337, 'CriciÃºma', 'BRA', 'Santa Catarina', 167661)
(338, 'Boa Vista', 'BRA', 'Roraima', 167185)
(339, 'Passo Fundo', 'BRA', 'Rio Grande do Sul', 166343)
(340, 'Dourados', 'BRA', 'Mato Grosso do Sul', 164716)
(341, 'Santa Luzia', 'BRA', 'Minas Gerais', 164704)
(342, 'Rio Claro', 'BRA', 'SÃ£o Paulo', 163551)
(343, 'MaracanaÃº', 'BRA', 'CearÃ¡', 162022)
(344, 'Guarapuava', 'BRA', 'ParanÃ¡', 160510)
(345, 'RondonÃ³polis', 'BRA', 'Mato Grosso', 155115)
(346, 'SÃ£o JosÃ©', 'BRA', 'Santa Catarina', 155105)
(347, 'Cachoeiro de Itapemirim', 'BRA', 'EspÃ\xadrito Santo', 155024)
(348, 'NilÃ³polis', 'BRA', 'Rio de Janeiro', 153383)
(349, 'Itapevi', 'BRA', 'SÃ£o Paulo', 150664)
(350, 'Cabo de Santo Agostinho', 'BRA', 'Pernambuco', 149964)
(351, 'CamaÃ§ari', 'BRA', 'Bahia', 149146)
(352, 'Sobral', 'BRA', 'CearÃ¡', 146005)
(353, 'ItajaÃ\xad', 'BRA', 'Santa Catarina', 145197)
(354, 'ChapecÃ³', 'BRA', 'Santa Catarina', 144158)
(355, 'Cotia', 'BRA', 'SÃ£o Paulo', 140042)
(356, 'Lages', 'BRA', 'Santa Catarina', 139570)
(357, 'Ferraz de Vasconcelos', 'BRA', 'SÃ£o Paulo', 139283)
(358, 'Indaiatuba', 'BRA', 'SÃ£o Paulo', 135968)
(359, 'HortolÃ¢ndia', 'BRA', 'SÃ£o Paulo', 135755)
(360, 'Caxias', 'BRA', 'MaranhÃ£o', 133980)
(361, 'SÃ£o Caetano do Sul', 'BRA', 'SÃ£o Paulo', 133321)
(362, 'Itu', 'BRA', 'SÃ£o Paulo', 132736)
(363, 'Nossa Senhora do Socorro', 'BRA', 'Sergipe', 131351)
(364, 'ParnaÃ\xadba', 'BRA', 'PiauÃ\xad', 129756)
(365, 'PoÃ§os de Caldas', 'BRA', 'Minas Gerais', 129683)
(366, 'TeresÃ³polis', 'BRA', 'Rio de Janeiro', 128079)
(367, 'Barreiras', 'BRA', 'Bahia', 127801)
(368, 'Castanhal', 'BRA', 'ParÃ¡', 127634)
(369, 'Alagoinhas', 'BRA', 'Bahia', 126820)
(370, 'Itapecerica da Serra', 'BRA', 'SÃ£o Paulo', 126672)
(371, 'Uruguaiana', 'BRA', 'Rio Grande do Sul', 126305)
(372, 'ParanaguÃ¡', 'BRA', 'ParanÃ¡', 126076)
(373, 'IbiritÃ©', 'BRA', 'Minas Gerais', 125982)
(374, 'Timon', 'BRA', 'MaranhÃ£o', 125812)
(375, 'LuziÃ¢nia', 'BRA', 'GoiÃ¡s', 125597)
(376, 'MacaÃ©', 'BRA', 'Rio de Janeiro', 125597)
(377, 'TeÃ³filo Otoni', 'BRA', 'Minas Gerais', 124489)
(378, 'Moji-GuaÃ§u', 'BRA', 'SÃ£o Paulo', 123782)
(379, 'Palmas', 'BRA', 'Tocantins', 121919)
(380, 'Pindamonhangaba', 'BRA', 'SÃ£o Paulo', 121904)
(381, 'Francisco Morato', 'BRA', 'SÃ£o Paulo', 121197)
(382, 'BagÃ©', 'BRA', 'Rio Grande do Sul', 120793)
(383, 'Sapucaia do Sul', 'BRA', 'Rio Grande do Sul', 120217)
(384, 'Cabo Frio', 'BRA', 'Rio de Janeiro', 119503)
(385, 'Itapetininga', 'BRA', 'SÃ£o Paulo', 119391)
(386, 'Patos de Minas', 'BRA', 'Minas Gerais', 119262)
(387, 'Camaragibe', 'BRA', 'Pernambuco', 118968)
(388, 'BraganÃ§a Paulista', 'BRA', 'SÃ£o Paulo', 116929)
(389, 'Queimados', 'BRA', 'Rio de Janeiro', 115020)
(390, 'AraguaÃ\xadna', 'BRA', 'Tocantins', 114948)
(391, 'Garanhuns', 'BRA', 'Pernambuco', 114603)
(392, 'VitÃ³ria de Santo AntÃ£o', 'BRA', 'Pernambuco', 113595)
(393, 'Santa Rita', 'BRA', 'ParaÃ\xadba', 113135)
(394, 'Barbacena', 'BRA', 'Minas Gerais', 113079)
(395, 'Abaetetuba', 'BRA', 'ParÃ¡', 111258)
(396, 'JaÃº', 'BRA', 'SÃ£o Paulo', 109965)
(397, 'Lauro de Freitas', 'BRA', 'Bahia', 109236)
(398, 'Franco da Rocha', 'BRA', 'SÃ£o Paulo', 108964)
(399, 'Teixeira de Freitas', 'BRA', 'Bahia', 108441)
(400, 'Varginha', 'BRA', 'Minas Gerais', 108314)
(401, 'RibeirÃ£o Pires', 'BRA', 'SÃ£o Paulo', 108121)
(402, 'SabarÃ¡', 'BRA', 'Minas Gerais', 107781)
(403, 'Catanduva', 'BRA', 'SÃ£o Paulo', 107761)
(404, 'Rio Verde', 'BRA', 'GoiÃ¡s', 107755)
(405, 'Botucatu', 'BRA', 'SÃ£o Paulo', 107663)
(406, 'Colatina', 'BRA', 'EspÃ\xadrito Santo', 107354)
(407, 'Santa Cruz do Sul', 'BRA', 'Rio Grande do Sul', 106734)
(408, 'Linhares', 'BRA', 'EspÃ\xadrito Santo', 106278)
(409, 'Apucarana', 'BRA', 'ParanÃ¡', 105114)
(410, 'Barretos', 'BRA', 'SÃ£o Paulo', 104156)
(411, 'GuaratinguetÃ¡', 'BRA', 'SÃ£o Paulo', 103433)

(1111, 'Gaya', 'IND', 'Bihar', 291675)
(1112, 'Kakinada', 'IND', 'Andhra Pradesh', 279980)
(1113, 'Dhule (Dhulia)', 'IND', 'Maharashtra', 278317)
(1114, 'Panihati', 'IND', 'West Bengali', 275990)
(1115, 'Nanded (Nander)', 'IND', 'Maharashtra', 275083)
(1116, 'Mangalore', 'IND', 'Karnataka', 273304)
(1117, 'Dehra Dun', 'IND', 'Uttaranchal', 270159)
(1118, 'Kamarhati', 'IND', 'West Bengali', 266889)
(1119, 'Davangere', 'IND', 'Karnataka', 266082)
(1120, 'Asansol', 'IND', 'West Bengali', 262188)
(1121, 'Bhagalpur', 'IND', 'Bihar', 253225)
(1122, 'Bellary', 'IND', 'Karnataka', 245391)
(1123, 'Barddhaman (Burdwan)', 'IND', 'West Bengali', 245079)
(1124, 'Rampur', 'IND', 'Uttar Pradesh', 243742)
(1125, 'Jalgaon', 'IND', 'Maharashtra', 242193)
(1126, 'Muzaffarpur', 'IND', 'Bihar', 241107)
(1127, 'Nizamabad', 'IND', 'Andhra Pradesh', 241034)
(1128, 'Muzaffarnagar', 'IND', 'Uttar Pradesh', 240609)
(1129, 'Patiala', 'IND', 'Punjab', 238368)
(1130, 'Shahjahanpur', 'IND', 'Uttar Pradesh', 237713)
(1131, 'Kurnool', 'IND', 'Andhra Pradesh', 236800)
(1132, 'Tiruppur (Tirupper)', 'IND', 'Tamil Nadu', 235661)
(1133, 'Rohtak', 'IND', 'Haryana', 233400)
(1134, 'South Dum Dum', 'IND', 'West Bengali', 232811)
(1135, 'Mathura', 'IND', 'Uttar Pradesh', 226691)
(1136, 'Chandrapur', 'IND', 'Maharashtra', 226105)
(1137, 'Barahanagar (Baranagar)', 'IND', 'West Bengali', 224821)
(1138, 'Darbhanga', 'IND', 'Bihar', 218391)
(1139, 'Siliguri (Shiliguri)', 'IND', 'West Bengali', 216950)
(1140, 'Raurkela', 'IND', 'Orissa', 215489)
(1141, 'Ambattur', 'IND', 'Tamil Nadu', 215424)
(1142, 'Panipat', 'IND', 'Haryana', 215218)
(1143, 'Firozabad', 'IND', 'Uttar Pradesh', 215128)
(1144, 'Ichalkaranji', 'IND', 'Maharashtra', 214950)
(1145, 'Jammu', 'IND', 'Jammu and Kashmir', 214737)
(1146, 'Ramagundam', 'IND', 'Andhra Pradesh', 214384)
(1147, 'Eluru', 'IND', 'Andhra Pradesh', 212866)
(1148, 'Brahmapur', 'IND', 'Orissa', 210418)
(1149, 'Alwar', 'IND', 'Rajasthan', 205086)
(1150, 'Pondicherry', 'IND', 'Pondicherry', 203065)
(1151, 'Thanjavur', 'IND', 'Tamil Nadu', 202013)
(1152, 'Bihar Sharif', 'IND', 'Bihar', 201323)
(1153, 'Tuticorin', 'IND', 'Tamil Nadu', 199854)
(1154, 'Imphal', 'IND', 'Manipur', 198535)
(1155, 'Latur', 'IND', 'Maharashtra', 197408)
(1156, 'Sagar', 'IND', 'Madhya Pradesh', 195346)
(1157, 'Farrukhabad-cum-Fatehgarh', 'IND', 'Uttar Pradesh', 194567)
(1158, 'Sangli', 'IND', 'Maharashtra', 193197)
(1159, 'Parbhani', 'IND', 'Maharashtra', 190255)
(1160, 'Nagar Coil', 'IND', 'Tamil Nadu', 190084)
(1161, 'Bijapur', 'IND', 'Karnataka', 186939)
(1162, 'Kukatpalle', 'IND', 'Andhra Pradesh', 185378)
(1163, 'Bally', 'IND', 'West Bengali', 184474)
(1164, 'Bhilwara', 'IND', 'Rajasthan', 183965)
(1165, 'Ratlam', 'IND', 'Madhya Pradesh', 183375)
(1166, 'Avadi', 'IND', 'Tamil Nadu', 183215)
(1167, 'Dindigul', 'IND', 'Tamil Nadu', 182477)
(1168, 'Ahmadnagar', 'IND', 'Maharashtra', 181339)
(1169, 'Bilaspur', 'IND', 'Chhatisgarh', 179833)
(1170, 'Shimoga', 'IND', 'Karnataka', 179258)
(1171, 'Kharagpur', 'IND', 'West Bengali', 177989)
(1172, 'Mira Bhayandar', 'IND', 'Maharashtra', 175372)
(1173, 'Vellore', 'IND', 'Tamil Nadu', 175061)
(1174, 'Jalna', 'IND', 'Maharashtra', 174985)
(1175, 'Burnpur', 'IND', 'West Bengali', 174933)
(1176, 'Anantapur', 'IND', 'Andhra Pradesh', 174924)
(1177, 'Allappuzha (Alleppey)', 'IND', 'Kerala', 174666)
(1178, 'Tirupati', 'IND', 'Andhra Pradesh', 174369)
(1179, 'Karnal', 'IND', 'Haryana', 173751)
(1180, 'Burhanpur', 'IND', 'Madhya Pradesh', 172710)
(1181, 'Hisar (Hissar)', 'IND', 'Haryana', 172677)
(1182, 'Tiruvottiyur', 'IND', 'Tamil Nadu', 172562)
(1183, 'Mirzapur-cum-Vindhyachal', 'IND', 'Uttar Pradesh', 169336)
(1184, 'Secunderabad', 'IND', 'Andhra Pradesh', 167461)
(1185, 'Nadiad', 'IND', 'Gujarat', 167051)
(1186, 'Dewas', 'IND', 'Madhya Pradesh', 164364)
(1187, 'Murwara (Katni)', 'IND', 'Madhya Pradesh', 163431)
(1188, 'Ganganagar', 'IND', 'Rajasthan', 161482)
(1189, 'Vizianagaram', 'IND', 'Andhra Pradesh', 160359)
(1190, 'Erode', 'IND', 'Tamil Nadu', 159232)
(1191, 'Machilipatnam (Masulipatam)', 'IND', 'Andhra Pradesh', 159110)
(1192, 'Bhatinda (Bathinda)', 'IND', 'Punjab', 159042)
(1193, 'Raichur', 'IND', 'Karnataka', 157551)
(1194, 'Agartala', 'IND', 'Tripura', 157358)
(1195, 'Arrah (Ara)', 'IND', 'Bihar', 157082)
(1196, 'Satna', 'IND', 'Madhya Pradesh', 156630)
(1197, 'Lalbahadur Nagar', 'IND', 'Andhra Pradesh', 155500)
(1198, 'Aizawl', 'IND', 'Mizoram', 155240)
(1199, 'Uluberia', 'IND', 'West Bengali', 155172)
(1200, 'Katihar', 'IND', 'Bihar', 154367)
(1201, 'Cuddalore', 'IND', 'Tamil Nadu', 153086)
(1202, 'Hugli-Chinsurah', 'IND', 'West Bengali', 151806)
(1203, 'Dhanbad', 'IND', 'Jharkhand', 151789)
(1204, 'Raiganj', 'IND', 'West Bengali', 151045)
(1205, 'Sambhal', 'IND', 'Uttar Pradesh', 150869)
(1206, 'Durg', 'IND', 'Chhatisgarh', 150645)
(1207, 'Munger (Monghyr)', 'IND', 'Bihar', 150112)
(1208, 'Kanchipuram', 'IND', 'Tamil Nadu', 150100)
(1209, 'North Dum Dum', 'IND', 'West Bengali', 149965)
(1210, 'Karimnagar', 'IND', 'Andhra Pradesh', 148583)
(1211, 'Bharatpur', 'IND', 'Rajasthan', 148519)
(1212, 'Sikar', 'IND', 'Rajasthan', 148272)
(1213, 'Hardwar (Haridwar)', 'IND', 'Uttaranchal', 147305)
(1214, 'Dabgram', 'IND', 'West Bengali', 147217)
(1215, 'Morena', 'IND', 'Madhya Pradesh', 147124)
(1216, 'Noida', 'IND', 'Uttar Pradesh', 146514)
(1217, 'Hapur', 'IND', 'Uttar Pradesh', 146262)
(1218, 'Bhusawal', 'IND', 'Maharashtra', 145143)
(1219, 'Khandwa', 'IND', 'Madhya Pradesh', 145133)
(1220, 'Yamuna Nagar', 'IND', 'Haryana', 144346)
(1221, 'Sonipat (Sonepat)', 'IND', 'Haryana', 143922)
(1222, 'Tenali', 'IND', 'Andhra Pradesh', 143726)
(1223, 'Raurkela Civil Township', 'IND', 'Orissa', 140408)
(1224, 'Kollam (Quilon)', 'IND', 'Kerala', 139852)
(1225, 'Kumbakonam', 'IND', 'Tamil Nadu', 139483)
(1226, 'Ingraj Bazar (English Bazar)', 'IND', 'West Bengali', 139204)
(1227, 'Timkur', 'IND', 'Karnataka', 138903)
(1228, 'Amroha', 'IND', 'Uttar Pradesh', 137061)
(1229, 'Serampore', 'IND', 'West Bengali', 137028)
(1230, 'Chapra', 'IND', 'Bihar', 136877)
(1231, 'Pali', 'IND', 'Rajasthan', 136842)
(1232, 'Maunath Bhanjan', 'IND', 'Uttar Pradesh', 136697)
(1233, 'Adoni', 'IND', 'Andhra Pradesh', 136182)
(1234, 'Jaunpur', 'IND', 'Uttar Pradesh', 136062)
(1235, 'Tirunelveli', 'IND', 'Tamil Nadu', 135825)
(1236, 'Bahraich', 'IND', 'Uttar Pradesh', 135400)
(1237, 'Gadag Betigeri', 'IND', 'Karnataka', 134051)
(1238, 'Proddatur', 'IND', 'Andhra Pradesh', 133914)
(1239, 'Chittoor', 'IND', 'Andhra Pradesh', 133462)
(1240, 'Barrackpur', 'IND', 'West Bengali', 133265)
(1241, 'Bharuch (Broach)', 'IND', 'Gujarat', 133102)
(1242, 'Naihati', 'IND', 'West Bengali', 132701)
(1243, 'Shillong', 'IND', 'Meghalaya', 131719)
(1244, 'Sambalpur', 'IND', 'Orissa', 131138)
(1245, 'Junagadh', 'IND', 'Gujarat', 130484)
(1246, 'Rae Bareli', 'IND', 'Uttar Pradesh', 129904)
(1247, 'Rewa', 'IND', 'Madhya Pradesh', 128981)
(1248, 'Gurgaon', 'IND', 'Haryana', 128608)
(1249, 'Khammam', 'IND', 'Andhra Pradesh', 127992)
(1250, 'Bulandshahr', 'IND', 'Uttar Pradesh', 127201)
(1251, 'Navsari', 'IND', 'Gujarat', 126089)
(1252, 'Malkajgiri', 'IND', 'Andhra Pradesh', 126066)
(1253, 'Midnapore (Medinipur)', 'IND', 'West Bengali', 125498)
(1254, 'Miraj', 'IND', 'Maharashtra', 125407)
(1255, 'Raj Nandgaon', 'IND', 'Chhatisgarh', 125371)
(1256, 'Alandur', 'IND', 'Tamil Nadu', 125244)
(1257, 'Puri', 'IND', 'Orissa', 125199)
(1258, 'Navadwip', 'IND', 'West Bengali', 125037)
(1259, 'Sirsa', 'IND', 'Haryana', 125000)
(1260, 'Korba', 'IND', 'Chhatisgarh', 124501)
(1261, 'Faizabad', 'IND', 'Uttar Pradesh', 124437)
(1262, 'Etawah', 'IND', 'Uttar Pradesh', 124072)
(1263, 'Pathankot', 'IND', 'Punjab', 123930)
(1264, 'Gandhinagar', 'IND', 'Gujarat', 123359)
(1265, 'Palghat (Palakkad)', 'IND', 'Kerala', 123289)
(1266, 'Veraval', 'IND', 'Gujarat', 123000)
(1267, 'Hoshiarpur', 'IND', 'Punjab', 122705)
(1268, 'Ambala', 'IND', 'Haryana', 122596)
(1269, 'Sitapur', 'IND', 'Uttar Pradesh', 121842)
(1270, 'Bhiwani', 'IND', 'Haryana', 121629)
(1271, 'Cuddapah', 'IND', 'Andhra Pradesh', 121463)
(1272, 'Bhimavaram', 'IND', 'Andhra Pradesh', 121314)
(1273, 'Krishnanagar', 'IND', 'West Bengali', 121110)
(1274, 'Chandannagar', 'IND', 'West Bengali', 120378)
(1275, 'Mandya', 'IND', 'Karnataka', 120265)
(1276, 'Dibrugarh', 'IND', 'Assam', 120127)
(1277, 'Nandyal', 'IND', 'Andhra Pradesh', 119813)
(1278, 'Balurghat', 'IND', 'West Bengali', 119796)
(1279, 'Neyveli', 'IND', 'Tamil Nadu', 118080)
(1280, 'Fatehpur', 'IND', 'Uttar Pradesh', 117675)
(1281, 'Mahbubnagar', 'IND', 'Andhra Pradesh', 116833)
(1282, 'Budaun', 'IND', 'Uttar Pradesh', 116695)
(1283, 'Porbandar', 'IND', 'Gujarat', 116671)
(1284, 'Silchar', 'IND', 'Assam', 115483)
(1285, 'Berhampore (Baharampur)', 'IND', 'West Bengali', 115144)
(1286, 'Purnea (Purnia)', 'IND', 'Jharkhand', 114912)
(1287, 'Bankura', 'IND', 'West Bengali', 114876)
(1288, 'Rajapalaiyam', 'IND', 'Tamil Nadu', 114202)
(1289, 'Titagarh', 'IND', 'West Bengali', 114085)
(1290, 'Halisahar', 'IND', 'West Bengali', 114028)
(1291, 'Hathras', 'IND', 'Uttar Pradesh', 113285)
(1292, 'Bhir (Bid)', 'IND', 'Maharashtra', 112434)
(1293, 'Pallavaram', 'IND', 'Tamil Nadu', 111866)
(1294, 'Anand', 'IND', 'Gujarat', 110266)
(1295, 'Mango', 'IND', 'Jharkhand', 110024)
(1296, 'Santipur', 'IND', 'West Bengali', 109956)
(1297, 'Bhind', 'IND', 'Madhya Pradesh', 109755)
(1298, 'Gondiya', 'IND', 'Maharashtra', 109470)
(1299, 'Tiruvannamalai', 'IND', 'Tamil Nadu', 109196)
(1300, 'Yeotmal (Yavatmal)', 'IND', 'Maharashtra', 108578)
(1301, 'Kulti-Barakar', 'IND', 'West Bengali', 108518)
(1302, 'Moga', 'IND', 'Punjab', 108304)
(1303, 'Shivapuri', 'IND', 'Madhya Pradesh', 108277)
(1304, 'Bidar', 'IND', 'Karnataka', 108016)
(1305, 'Guntakal', 'IND', 'Andhra Pradesh', 107592)
(1306, 'Unnao', 'IND', 'Uttar Pradesh', 107425)
(1307, 'Barasat', 'IND', 'West Bengali', 107365)
(1308, 'Tambaram', 'IND', 'Tamil Nadu', 107187)
(1309, 'Abohar', 'IND', 'Punjab', 107163)
(1310, 'Pilibhit', 'IND', 'Uttar Pradesh', 106605)
(1311, 'Valparai', 'IND', 'Tamil Nadu', 106523)
(1312, 'Gonda', 'IND', 'Uttar Pradesh', 106078)
(1313, 'Surendranagar', 'IND', 'Gujarat', 105973)
(1314, 'Qutubullapur', 'IND', 'Andhra Pradesh', 105380)
(1315, 'Beawar', 'IND', 'Rajasthan', 105363)
(1316, 'Hindupur', 'IND', 'Andhra Pradesh', 104651)
(1317, 'Gandhidham', 'IND', 'Gujarat', 104585)
(1318, 'Haldwani-cum-Kathgodam', 'IND', 'Uttaranchal', 104195)
(1319, 'Tellicherry (Thalassery)', 'IND', 'Kerala', 103579)
(1320, 'Wardha', 'IND', 'Maharashtra', 102985)
(1321, 'Rishra', 'IND', 'West Bengali', 102649)
(1322, 'Bhuj', 'IND', 'Gujarat', 102176)
(1323, 'Modinagar', 'IND', 'Uttar Pradesh', 101660)
(1324, 'Gudivada', 'IND', 'Andhra Pradesh', 101656)
(1325, 'Basirhat', 'IND', 'West Bengali', 101409)
(1326, 'Uttarpara-Kotrung', 'IND', 'West Bengali', 100867)
(1327, 'Ongole', 'IND', 'Andhra Pradesh', 100836)
(1328, 'North Barrackpur', 'IND', 'West Bengali', 100513)
(1329, 'Guna', 'IND', 'Madhya Pradesh', 100490)
(1330, 'Haldia', 'IND', 'West Bengali', 100347)
(1331, 'Habra', 'IND', 'West Bengali', 100223)
(1332, 'Kanchrapara', 'IND', 'West Bengali', 100194)
(1333, 'Tonk', 'IND', 'Rajasthan', 100079)
(1334, 'Champdani', 'IND', 'West Bengali', 98818)
(1335, 'Orai', 'IND', 'Uttar Pradesh', 98640)
(1336, 'Pudukkottai', 'IND', 'Tamil Nadu', 98619)
(1337, 'Sasaram', 'IND', 'Bihar', 98220)
(1338, 'Hazaribag', 'IND', 'Jharkhand', 97712)
(1339, 'Palayankottai', 'IND', 'Tamil Nadu', 97662)
(1340, 'Banda', 'IND', 'Uttar Pradesh', 97227)
(1341, 'Godhra', 'IND', 'Gujarat', 96813)
(1342, 'Hospet', 'IND', 'Karnataka', 96322)
(1343, 'Ashoknagar-Kalyangarh', 'IND', 'West Bengali', 96315)
(1344, 'Achalpur', 'IND', 'Maharashtra', 96216)
(1345, 'Patan', 'IND', 'Gujarat', 96109)
(1346, 'Mandasor', 'IND', 'Madhya Pradesh', 95758)
(1347, 'Damoh', 'IND', 'Madhya Pradesh', 95661)
(1348, 'Satara', 'IND', 'Maharashtra', 95133)
(1349, 'Meerut Cantonment', 'IND', 'Uttar Pradesh', 94876)
(1350, 'Dehri', 'IND', 'Bihar', 94526)
(1351, 'Delhi Cantonment', 'IND', 'Delhi', 94326)
(1352, 'Chhindwara', 'IND', 'Madhya Pradesh', 93731)
(1353, 'Bansberia', 'IND', 'West Bengali', 93447)
(1354, 'Nagaon', 'IND', 'Assam', 93350)
(1355, 'Kanpur Cantonment', 'IND', 'Uttar Pradesh', 93109)
(1356, 'Vidisha', 'IND', 'Madhya Pradesh', 92917)
(1357, 'Bettiah', 'IND', 'Bihar', 92583)
(1358, 'Purulia', 'IND', 'Jharkhand', 92574)
(1359, 'Hassan', 'IND', 'Karnataka', 90803)
(1360, 'Ambala Sadar', 'IND', 'Haryana', 90712)
(1361, 'Baidyabati', 'IND', 'West Bengali', 90601)
(1362, 'Morvi', 'IND', 'Gujarat', 90357)
(1363, 'Raigarh', 'IND', 'Chhatisgarh', 89166)
(1364, 'Vejalpur', 'IND', 'Gujarat', 89053)
(1365, 'Baghdad', 'IRQ', 'Baghdad', 4336000)
(1366, 'Mosul', 'IRQ', 'Ninawa', 879000)
(1367, 'Irbil', 'IRQ', 'Irbil', 485968)
(1368, 'Kirkuk', 'IRQ', 'al-Tamim', 418624)
(1369, 'Basra', 'IRQ', 'Basra', 406296)
(1370, 'al-Sulaymaniya', 'IRQ', 'al-Sulaymaniya', 364096)
(1371, 'al-Najaf', 'IRQ', 'al-Najaf', 309010)
(1372, 'Karbala', 'IRQ', 'Karbala', 296705)
(1373, 'al-Hilla', 'IRQ', 'Babil', 268834)
(1374, 'al-Nasiriya', 'IRQ', 'DhiQar', 265937)
(1375, 'al-Amara', 'IRQ', 'Maysan', 208797)
(1376, 'al-Diwaniya', 'IRQ', 'al-Qadisiya', 196519)
(1377, 'al-Ramadi', 'IRQ', 'al-Anbar', 192556)
(1378, 'al-Kut', 'IRQ', 'Wasit', 183183)
(1379, 'Baquba', 'IRQ', 'Diyala', 114516)
(1380, 'Teheran', 'IRN', 'Teheran', 6758845)
(1381, 'Mashhad', 'IRN', 'Khorasan', 1887405)
(1382, 'Esfahan', 'IRN', 'Esfahan', 1266072)
(1383, 'Tabriz', 'IRN', 'East Azerbaidzan', 1191043)
(1384, 'Shiraz', 'IRN', 'Fars', 1053025)
(1385, 'Karaj', 'IRN', 'Teheran', 940968)
(1386, 'Ahvaz', 'IRN', 'Khuzestan', 804980)
(1387, 'Qom', 'IRN', 'Qom', 777677)
(1388, 'Kermanshah', 'IRN', 'Kermanshah', 692986)
(1389, 'Urmia', 'IRN', 'West Azerbaidzan', 435200)
(1390, 'Zahedan', 'IRN', 'Sistan va Baluchesta', 419518)
(1391, 'Rasht', 'IRN', 'Gilan', 417748)
(1392, 'Hamadan', 'IRN', 'Hamadan', 401281)
(1393, 'Kerman', 'IRN', 'Kerman', 384991)
(1394, 'Arak', 'IRN', 'Markazi', 380755)
(1395, 'Ardebil', 'IRN', 'Ardebil', 340386)
(1396, 'Yazd', 'IRN', 'Yazd', 326776)
(1397, 'Qazvin', 'IRN', 'Qazvin', 291117)
(1398, 'Zanjan', 'IRN', 'Zanjan', 286295)
(1399, 'Sanandaj', 'IRN', 'Kordestan', 277808)
(1400, 'Bandar-e-Abbas', 'IRN', 'Hormozgan', 273578)
(1401, 'Khorramabad', 'IRN', 'Lorestan', 272815)
(1402, 'Eslamshahr', 'IRN', 'Teheran', 265450)
(1403, 'Borujerd', 'IRN', 'Lorestan', 217804)
(1404, 'Abadan', 'IRN', 'Khuzestan', 206073)
(1405, 'Dezful', 'IRN', 'Khuzestan', 202639)
(1406, 'Kashan', 'IRN', 'Esfahan', 201372)
(1407, 'Sari', 'IRN', 'Mazandaran', 195882)
(1408, 'Gorgan', 'IRN', 'Golestan', 188710)
(1409, 'Najafabad', 'IRN', 'Esfahan', 178498)
(1410, 'Sabzevar', 'IRN', 'Khorasan', 170738)
(1411, 'Khomeynishahr', 'IRN', 'Esfahan', 165888)
(1412, 'Amol', 'IRN', 'Mazandaran', 159092)
(1413, 'Neyshabur', 'IRN', 'Khorasan', 158847)
(1414, 'Babol', 'IRN', 'Mazandaran', 158346)
(1415, 'Khoy', 'IRN', 'West Azerbaidzan', 148944)
(1416, 'Malayer', 'IRN', 'Hamadan', 144373)
(1417, 'Bushehr', 'IRN', 'Bushehr', 143641)
(1418, 'Qaemshahr', 'IRN', 'Mazandaran', 143286)
(1419, 'Qarchak', 'IRN', 'Teheran', 142690)
(1420, 'Qods', 'IRN', 'Teheran', 138278)
(1421, 'Sirjan', 'IRN', 'Kerman', 135024)
(1422, 'Bojnurd', 'IRN', 'Khorasan', 134835)
(1423, 'Maragheh', 'IRN', 'East Azerbaidzan', 132318)
(1424, 'Birjand', 'IRN', 'Khorasan', 127608)
(1425, 'Ilam', 'IRN', 'Ilam', 126346)
(1426, 'Bukan', 'IRN', 'West Azerbaidzan', 120020)
(1427, 'Masjed-e-Soleyman', 'IRN', 'Khuzestan', 116883)
(1428, 'Saqqez', 'IRN', 'Kordestan', 115394)
(1429, 'Gonbad-e Qabus', 'IRN', 'Mazandaran', 111253)
(1430, 'Saveh', 'IRN', 'Qom', 111245)
(1431, 'Mahabad', 'IRN', 'West Azerbaidzan', 107799)
(1432, 'Varamin', 'IRN', 'Teheran', 107233)
(1433, 'Andimeshk', 'IRN', 'Khuzestan', 106923)
(1434, 'Khorramshahr', 'IRN', 'Khuzestan', 105636)
(1435, 'Shahrud', 'IRN', 'Semnan', 104765)
(1436, 'Marv Dasht', 'IRN', 'Fars', 103579)
(1437, 'Zabol', 'IRN', 'Sistan va Baluchesta', 100887)
(1438, 'Shahr-e Kord', 'IRN', 'Chaharmahal va Bakht', 100477)
(1439, 'Bandar-e Anzali', 'IRN', 'Gilan', 98500)
(1440, 'Rafsanjan', 'IRN', 'Kerman', 98300)
(1441, 'Marand', 'IRN', 'East Azerbaidzan', 96400)
(1442, 'Torbat-e Heydariyeh', 'IRN', 'Khorasan', 94600)
(1443, 'Jahrom', 'IRN', 'Fars', 94200)
(1444, 'Semnan', 'IRN', 'Semnan', 91045)
(1445, 'Miandoab', 'IRN', 'West Azerbaidzan', 90100)
(1446, 'Qomsheh', 'IRN', 'Esfahan', 89800)
(1447, 'Dublin', 'IRL', 'Leinster', 481854)
(1448, 'Cork', 'IRL', 'Munster', 127187)
(1449, 'ReykjavÃ\xadk', 'ISL', 'HÃ¶fuÃ°borgarsvÃ¦Ã°i', 109184)
(1450, 'Jerusalem', 'ISR', 'Jerusalem', 633700)
(1451, 'Tel Aviv-Jaffa', 'ISR', 'Tel Aviv', 348100)
(1452, 'Haifa', 'ISR', 'Haifa', 265700)
(1453, 'Rishon Le Ziyyon', 'ISR', 'Ha Merkaz', 188200)
(1454, 'Beerseba', 'ISR', 'Ha Darom', 163700)
(1455, 'Holon', 'ISR', 'Tel Aviv', 163100)
(1456, 'Petah Tiqwa', 'ISR', 'Ha Merkaz', 159400)
(1457, 'Ashdod', 'ISR', 'Ha Darom', 155800)
(1458, 'Netanya', 'ISR', 'Ha Merkaz', 154900)
(1459, 'Bat Yam', 'ISR', 'Tel Aviv', 137000)
(1460, 'Bene Beraq', 'ISR', 'Tel Aviv', 133900)
(1461, 'Ramat Gan', 'ISR', 'Tel Aviv', 126900)
(1462, 'Ashqelon', 'ISR', 'Ha Darom', 92300)
(1463, 'Rehovot', 'ISR', 'Ha Merkaz', 90300)
(1464, 'Roma', 'ITA', 'Latium', 2643581)
(1465, 'Milano', 'ITA', 'Lombardia', 1300977)
(1466, 'Napoli', 'ITA', 'Campania', 1002619)
(1467, 'Torino', 'ITA', 'Piemonte', 903705)
(1468, 'Palermo', 'ITA', 'Sisilia', 683794)
(1469, 'Genova', 'ITA', 'Liguria', 636104)
(1470, 'Bologna', 'ITA', 'Emilia-Romagna', 381161)
(1471, 'Firenze', 'ITA', 'Toscana', 376662)
(1472, 'Catania', 'ITA', 'Sisilia', 337862)
(1473, 'Bari', 'ITA', 'Apulia', 331848)
(1474, 'Venezia', 'ITA', 'Veneto', 277305)
(1475, 'Messina', 'ITA', 'Sisilia', 259156)
(1476, 'Verona', 'ITA', 'Veneto', 255268)
(1477, 'Trieste', 'ITA', 'Friuli-Venezia Giuli', 216459)
(1478, 'Padova', 'ITA', 'Veneto', 211391)
(1479, 'Taranto', 'ITA', 'Apulia', 208214)
(1480, 'Brescia', 'ITA', 'Lombardia', 191317)
(1481, 'Reggio di Calabria', 'ITA', 'Calabria', 179617)
(1482, 'Modena', 'ITA', 'Emilia-Romagna', 176022)
(1483, 'Prato', 'ITA', 'Toscana', 172473)
(1484, 'Parma', 'ITA', 'Emilia-Romagna', 168717)
(1485, 'Cagliari', 'ITA', 'Sardinia', 165926)
(1486, 'Livorno', 'ITA', 'Toscana', 161673)
(1487, 'Perugia', 'ITA', 'Umbria', 156673)
(1488, 'Foggia', 'ITA', 'Apulia', 154891)
(1489, 'Reggio nellÂ´ Emilia', 'ITA', 'Emilia-Romagna', 143664)
(1490, 'Salerno', 'ITA', 'Campania', 142055)
(1491, 'Ravenna', 'ITA', 'Emilia-Romagna', 138418)
(1492, 'Ferrara', 'ITA', 'Emilia-Romagna', 132127)
(1493, 'Rimini', 'ITA', 'Emilia-Romagna', 131062)
(1494, 'Syrakusa', 'ITA', 'Sisilia', 126282)
(1495, 'Sassari', 'ITA', 'Sardinia', 120803)
(1496, 'Monza', 'ITA', 'Lombardia', 119516)
(1497, 'Bergamo', 'ITA', 'Lombardia', 117837)
(1498, 'Pescara', 'ITA', 'Abruzzit', 115698)
(1499, 'Latina', 'ITA', 'Latium', 114099)
(1500, 'Vicenza', 'ITA', 'Veneto', 109738)
(1501, 'Terni', 'ITA', 'Umbria', 107770)
(1502, 'ForlÃ¬', 'ITA', 'Emilia-Romagna', 107475)
(1503, 'Trento', 'ITA', 'Trentino-Alto Adige', 104906)
(1504, 'Novara', 'ITA', 'Piemonte', 102037)
(1505, 'Piacenza', 'ITA', 'Emilia-Romagna', 98384)
(1506, 'Ancona', 'ITA', 'Marche', 98329)
(1507, 'Lecce', 'ITA', 'Apulia', 98208)
(1508, 'Bolzano', 'ITA', 'Trentino-Alto Adige', 97232)
(1509, 'Catanzaro', 'ITA', 'Calabria', 96700)
(1510, 'La Spezia', 'ITA', 'Liguria', 95504)
(1511, 'Udine', 'ITA', 'Friuli-Venezia Giuli', 94932)
(1512, 'Torre del Greco', 'ITA', 'Campania', 94505)
(1513, 'Andria', 'ITA', 'Apulia', 94443)
(1514, 'Brindisi', 'ITA', 'Apulia', 93454)
(1515, 'Giugliano in Campania', 'ITA', 'Campania', 93286)
(1516, 'Pisa', 'ITA', 'Toscana', 92379)
(1517, 'Barletta', 'ITA', 'Apulia', 91904)
(1518, 'Arezzo', 'ITA', 'Toscana', 91729)
(1519, 'Alessandria', 'ITA', 'Piemonte', 90289)
(1520, 'Cesena', 'ITA', 'Emilia-Romagna', 89852)
(1521, 'Pesaro', 'ITA', 'Marche', 88987)
(1522, 'Dili', 'TMP', 'Dili', 47900)
(1523, 'Wien', 'AUT', 'Wien', 1608144)

(1932, 'Yichun', 'CHN', 'Heilongjiang', 800000)
(1933, 'Benxi', 'CHN', 'Liaoning', 770000)
(1934, 'Luoyang', 'CHN', 'Henan', 760000)
(1935, 'Suzhou', 'CHN', 'Jiangsu', 710000)
(1936, 'Xining', 'CHN', 'Qinghai', 700200)
(1937, 'Huainan', 'CHN', 'Anhui', 700000)
(1938, 'Jixi', 'CHN', 'Heilongjiang', 683885)
(1939, 'Daqing', 'CHN', 'Heilongjiang', 660000)
(1940, 'Fuxin', 'CHN', 'Liaoning', 640000)
(1941, 'Amoy [Xiamen]', 'CHN', 'Fujian', 627500)
(1942, 'Liuzhou', 'CHN', 'Guangxi', 610000)
(1943, 'Shantou', 'CHN', 'Guangdong', 580000)
(1944, 'Jinzhou', 'CHN', 'Liaoning', 570000)
(1945, 'Mudanjiang', 'CHN', 'Heilongjiang', 570000)
(1946, 'Yinchuan', 'CHN', 'Ningxia', 544500)
(1947, 'Changzhou', 'CHN', 'Jiangsu', 530000)
(1948, 'Zhangjiakou', 'CHN', 'Hebei', 530000)
(1949, 'Dandong', 'CHN', 'Liaoning', 520000)
(1950, 'Hegang', 'CHN', 'Heilongjiang', 520000)
(1951, 'Kaifeng', 'CHN', 'Henan', 510000)
(1952, 'Jiamusi', 'CHN', 'Heilongjiang', 493409)
(1953, 'Liaoyang', 'CHN', 'Liaoning', 492559)
(1954, 'Hengyang', 'CHN', 'Hunan', 487148)
(1955, 'Baoding', 'CHN', 'Hebei', 483155)
(1956, 'Hunjiang', 'CHN', 'Jilin', 482043)
(1957, 'Xinxiang', 'CHN', 'Henan', 473762)
(1958, 'Huangshi', 'CHN', 'Hubei', 457601)
(1959, 'Haikou', 'CHN', 'Hainan', 454300)
(1960, 'Yantai', 'CHN', 'Shandong', 452127)
(1961, 'Bengbu', 'CHN', 'Anhui', 449245)
(1962, 'Xiangtan', 'CHN', 'Hunan', 441968)
(1963, 'Weifang', 'CHN', 'Shandong', 428522)
(1964, 'Wuhu', 'CHN', 'Anhui', 425740)
(1965, 'Pingxiang', 'CHN', 'Jiangxi', 425579)
(1966, 'Yingkou', 'CHN', 'Liaoning', 421589)
(1967, 'Anyang', 'CHN', 'Henan', 420332)
(1968, 'Panzhihua', 'CHN', 'Sichuan', 415466)
(1969, 'Pingdingshan', 'CHN', 'Henan', 410775)
(1970, 'Xiangfan', 'CHN', 'Hubei', 410407)
(1971, 'Zhuzhou', 'CHN', 'Hunan', 409924)
(1972, 'Jiaozuo', 'CHN', 'Henan', 409100)
(1973, 'Wenzhou', 'CHN', 'Zhejiang', 401871)
(1974, 'Zhangjiang', 'CHN', 'Guangdong', 400997)
(1975, 'Zigong', 'CHN', 'Sichuan', 393184)
(1976, 'Shuangyashan', 'CHN', 'Heilongjiang', 386081)
(1977, 'Zaozhuang', 'CHN', 'Shandong', 380846)
(1978, 'Yakeshi', 'CHN', 'Inner Mongolia', 377869)
(1979, 'Yichang', 'CHN', 'Hubei', 371601)
(1980, 'Zhenjiang', 'CHN', 'Jiangsu', 368316)
(1981, 'Huaibei', 'CHN', 'Anhui', 366549)
(1982, 'Qinhuangdao', 'CHN', 'Hebei', 364972)
(1983, 'Guilin', 'CHN', 'Guangxi', 364130)
(1984, 'Liupanshui', 'CHN', 'Guizhou', 363954)
(1985, 'Panjin', 'CHN', 'Liaoning', 362773)
(1986, 'Yangquan', 'CHN', 'Shanxi', 362268)
(1987, 'Jinxi', 'CHN', 'Liaoning', 357052)
(1988, 'Liaoyuan', 'CHN', 'Jilin', 354141)
(1989, 'Lianyungang', 'CHN', 'Jiangsu', 354139)
(1990, 'Xianyang', 'CHN', 'Shaanxi', 352125)
(1991, 'TaiÂ´an', 'CHN', 'Shandong', 350696)
(1992, 'Chifeng', 'CHN', 'Inner Mongolia', 350077)
(1993, 'Shaoguan', 'CHN', 'Guangdong', 350043)
(1994, 'Nantong', 'CHN', 'Jiangsu', 343341)
(1995, 'Leshan', 'CHN', 'Sichuan', 341128)
(1996, 'Baoji', 'CHN', 'Shaanxi', 337765)
(1997, 'Linyi', 'CHN', 'Shandong', 324720)
(1998, 'Tonghua', 'CHN', 'Jilin', 324600)
(1999, 'Siping', 'CHN', 'Jilin', 317223)
(2000, 'Changzhi', 'CHN', 'Shanxi', 317144)
(2001, 'Tengzhou', 'CHN', 'Shandong', 315083)
(2002, 'Chaozhou', 'CHN', 'Guangdong', 313469)
(2003, 'Yangzhou', 'CHN', 'Jiangsu', 312892)
(2004, 'Dongwan', 'CHN', 'Guangdong', 308669)
(2005, 'MaÂ´anshan', 'CHN', 'Anhui', 305421)
(2006, 'Foshan', 'CHN', 'Guangdong', 303160)
(2007, 'Yueyang', 'CHN', 'Hunan', 302800)
(2008, 'Xingtai', 'CHN', 'Hebei', 302789)
(2009, 'Changde', 'CHN', 'Hunan', 301276)
(2010, 'Shihezi', 'CHN', 'Xinxiang', 299676)
(2011, 'Yancheng', 'CHN', 'Jiangsu', 296831)
(2012, 'Jiujiang', 'CHN', 'Jiangxi', 291187)
(2013, 'Dongying', 'CHN', 'Shandong', 281728)
(2014, 'Shashi', 'CHN', 'Hubei', 281352)
(2015, 'Xintai', 'CHN', 'Shandong', 281248)
(2016, 'Jingdezhen', 'CHN', 'Jiangxi', 281183)
(2017, 'Tongchuan', 'CHN', 'Shaanxi', 280657)
(2018, 'Zhongshan', 'CHN', 'Guangdong', 278829)
(2019, 'Shiyan', 'CHN', 'Hubei', 273786)
(2020, 'Tieli', 'CHN', 'Heilongjiang', 265683)
(2021, 'Jining', 'CHN', 'Shandong', 265248)
(2022, 'Wuhai', 'CHN', 'Inner Mongolia', 264081)
(2023, 'Mianyang', 'CHN', 'Sichuan', 262947)
(2024, 'Luzhou', 'CHN', 'Sichuan', 262892)
(2025, 'Zunyi', 'CHN', 'Guizhou', 261862)
(2026, 'Shizuishan', 'CHN', 'Ningxia', 257862)
(2027, 'Neijiang', 'CHN', 'Sichuan', 256012)
(2028, 'Tongliao', 'CHN', 'Inner Mongolia', 255129)
(2029, 'Tieling', 'CHN', 'Liaoning', 254842)
(2030, 'Wafangdian', 'CHN', 'Liaoning', 251733)
(2031, 'Anqing', 'CHN', 'Anhui', 250718)
(2032, 'Shaoyang', 'CHN', 'Hunan', 247227)
(2033, 'Laiwu', 'CHN', 'Shandong', 246833)
(2034, 'Chengde', 'CHN', 'Hebei', 246799)
(2035, 'Tianshui', 'CHN', 'Gansu', 244974)
(2036, 'Nanyang', 'CHN', 'Henan', 243303)
(2037, 'Cangzhou', 'CHN', 'Hebei', 242708)
(2038, 'Yibin', 'CHN', 'Sichuan', 241019)
(2039, 'Huaiyin', 'CHN', 'Jiangsu', 239675)
(2040, 'Dunhua', 'CHN', 'Jilin', 235100)
(2041, 'Yanji', 'CHN', 'Jilin', 230892)
(2042, 'Jiangmen', 'CHN', 'Guangdong', 230587)
(2043, 'Tongling', 'CHN', 'Anhui', 228017)
(2044, 'Suihua', 'CHN', 'Heilongjiang', 227881)
(2045, 'Gongziling', 'CHN', 'Jilin', 226569)
(2046, 'Xiantao', 'CHN', 'Hubei', 222884)
(2047, 'Chaoyang', 'CHN', 'Liaoning', 222394)
(2048, 'Ganzhou', 'CHN', 'Jiangxi', 220129)
(2049, 'Huzhou', 'CHN', 'Zhejiang', 218071)
(2050, 'Baicheng', 'CHN', 'Jilin', 217987)
(2051, 'Shangzi', 'CHN', 'Heilongjiang', 215373)
(2052, 'Yangjiang', 'CHN', 'Guangdong', 215196)
(2053, 'Qitaihe', 'CHN', 'Heilongjiang', 214957)
(2054, 'Gejiu', 'CHN', 'Yunnan', 214294)
(2055, 'Jiangyin', 'CHN', 'Jiangsu', 213659)
(2056, 'Hebi', 'CHN', 'Henan', 212976)
(2057, 'Jiaxing', 'CHN', 'Zhejiang', 211526)
(2058, 'Wuzhou', 'CHN', 'Guangxi', 210452)
(2059, 'Meihekou', 'CHN', 'Jilin', 209038)
(2060, 'Xuchang', 'CHN', 'Henan', 208815)
(2061, 'Liaocheng', 'CHN', 'Shandong', 207844)
(2062, 'Haicheng', 'CHN', 'Liaoning', 205560)
(2063, 'Qianjiang', 'CHN', 'Hubei', 205504)
(2064, 'Baiyin', 'CHN', 'Gansu', 204970)
(2065, 'BeiÂ´an', 'CHN', 'Heilongjiang', 204899)
(2066, 'Yixing', 'CHN', 'Jiangsu', 200824)
(2067, 'Laizhou', 'CHN', 'Shandong', 198664)
(2068, 'Qaramay', 'CHN', 'Xinxiang', 197602)
(2069, 'Acheng', 'CHN', 'Heilongjiang', 197595)
(2070, 'Dezhou', 'CHN', 'Shandong', 195485)
(2071, 'Nanping', 'CHN', 'Fujian', 195064)
(2072, 'Zhaoqing', 'CHN', 'Guangdong', 194784)
(2073, 'Beipiao', 'CHN', 'Liaoning', 194301)
(2074, 'Fengcheng', 'CHN', 'Jiangxi', 193784)
(2075, 'Fuyu', 'CHN', 'Jilin', 192981)
(2076, 'Xinyang', 'CHN', 'Henan', 192509)
(2077, 'Dongtai', 'CHN', 'Jiangsu', 192247)
(2078, 'Yuci', 'CHN', 'Shanxi', 191356)
(2079, 'Honghu', 'CHN', 'Hubei', 190772)
(2080, 'Ezhou', 'CHN', 'Hubei', 190123)
(2081, 'Heze', 'CHN', 'Shandong', 189293)
(2082, 'Daxian', 'CHN', 'Sichuan', 188101)
(2083, 'Linfen', 'CHN', 'Shanxi', 187309)
(2084, 'Tianmen', 'CHN', 'Hubei', 186332)
(2085, 'Yiyang', 'CHN', 'Hunan', 185818)
(2086, 'Quanzhou', 'CHN', 'Fujian', 185154)
(2087, 'Rizhao', 'CHN', 'Shandong', 185048)
(2088, 'Deyang', 'CHN', 'Sichuan', 182488)
(2089, 'Guangyuan', 'CHN', 'Sichuan', 182241)
(2090, 'Changshu', 'CHN', 'Jiangsu', 181805)
(2091, 'Zhangzhou', 'CHN', 'Fujian', 181424)
(2092, 'Hailar', 'CHN', 'Inner Mongolia', 180650)
(2093, 'Nanchong', 'CHN', 'Sichuan', 180273)
(2094, 'Jiutai', 'CHN', 'Jilin', 180130)
(2095, 'Zhaodong', 'CHN', 'Heilongjiang', 179976)
(2096, 'Shaoxing', 'CHN', 'Zhejiang', 179818)
(2097, 'Fuyang', 'CHN', 'Anhui', 179572)
(2098, 'Maoming', 'CHN', 'Guangdong', 178683)
(2099, 'Qujing', 'CHN', 'Yunnan', 178669)
(2100, 'Ghulja', 'CHN', 'Xinxiang', 177193)
(2101, 'Jiaohe', 'CHN', 'Jilin', 176367)
(2102, 'Puyang', 'CHN', 'Henan', 175988)
(2103, 'Huadian', 'CHN', 'Jilin', 175873)
(2104, 'Jiangyou', 'CHN', 'Sichuan', 175753)
(2105, 'Qashqar', 'CHN', 'Xinxiang', 174570)
(2106, 'Anshun', 'CHN', 'Guizhou', 174142)
(2107, 'Fuling', 'CHN', 'Sichuan', 173878)
(2108, 'Xinyu', 'CHN', 'Jiangxi', 173524)
(2109, 'Hanzhong', 'CHN', 'Shaanxi', 169930)
(2110, 'Danyang', 'CHN', 'Jiangsu', 169603)
(2111, 'Chenzhou', 'CHN', 'Hunan', 169400)
(2112, 'Xiaogan', 'CHN', 'Hubei', 166280)
(2113, 'Shangqiu', 'CHN', 'Henan', 164880)
(2114, 'Zhuhai', 'CHN', 'Guangdong', 164747)
(2115, 'Qingyuan', 'CHN', 'Guangdong', 164641)
(2116, 'Aqsu', 'CHN', 'Xinxiang', 164092)
(2117, 'Jining', 'CHN', 'Inner Mongolia', 163552)
(2118, 'Xiaoshan', 'CHN', 'Zhejiang', 162930)
(2119, 'Zaoyang', 'CHN', 'Hubei', 162198)
(2120, 'Xinghua', 'CHN', 'Jiangsu', 161910)
(2121, 'Hami', 'CHN', 'Xinxiang', 161315)
(2122, 'Huizhou', 'CHN', 'Guangdong', 161023)
(2123, 'Jinmen', 'CHN', 'Hubei', 160794)
(2124, 'Sanming', 'CHN', 'Fujian', 160691)
(2125, 'Ulanhot', 'CHN', 'Inner Mongolia', 159538)
(2126, 'Korla', 'CHN', 'Xinxiang', 159344)
(2127, 'Wanxian', 'CHN', 'Sichuan', 156823)
(2128, 'RuiÂ´an', 'CHN', 'Zhejiang', 156468)
(2129, 'Zhoushan', 'CHN', 'Zhejiang', 156317)
(2130, 'Liangcheng', 'CHN', 'Shandong', 156307)
(2131, 'Jiaozhou', 'CHN', 'Shandong', 153364)
(2132, 'Taizhou', 'CHN', 'Jiangsu', 152442)
(2133, 'Suzhou', 'CHN', 'Anhui', 151862)
(2134, 'Yichun', 'CHN', 'Jiangxi', 151585)
(2135, 'Taonan', 'CHN', 'Jilin', 150168)
(2136, 'Pingdu', 'CHN', 'Shandong', 150123)
(2137, 'JiÂ´an', 'CHN', 'Jiangxi', 148583)
(2138, 'Longkou', 'CHN', 'Shandong', 148362)
(2139, 'Langfang', 'CHN', 'Hebei', 148105)
(2140, 'Zhoukou', 'CHN', 'Henan', 146288)
(2141, 'Suining', 'CHN', 'Sichuan', 146086)
(2142, 'Yulin', 'CHN', 'Guangxi', 144467)
(2143, 'Jinhua', 'CHN', 'Zhejiang', 144280)
(2144, 'LiuÂ´an', 'CHN', 'Anhui', 144248)
(2145, 'Shuangcheng', 'CHN', 'Heilongjiang', 142659)
(2146, 'Suizhou', 'CHN', 'Hubei', 142302)
(2147, 'Ankang', 'CHN', 'Shaanxi', 142170)
(2148, 'Weinan', 'CHN', 'Shaanxi', 140169)
(2149, 'Longjing', 'CHN', 'Jilin', 139417)
(2150, 'DaÂ´an', 'CHN', 'Jilin', 138963)
(2151, 'Lengshuijiang', 'CHN', 'Hunan', 137994)
(2152, 'Laiyang', 'CHN', 'Shandong', 137080)
(2153, 'Xianning', 'CHN', 'Hubei', 136811)
(2154, 'Dali', 'CHN', 'Yunnan', 136554)
(2155, 'Anda', 'CHN', 'Heilongjiang', 136446)
(2156, 'Jincheng', 'CHN', 'Shanxi', 136396)
(2157, 'Longyan', 'CHN', 'Fujian', 134481)
(2158, 'Xichang', 'CHN', 'Sichuan', 134419)
(2159, 'Wendeng', 'CHN', 'Shandong', 133910)
(2160, 'Hailun', 'CHN', 'Heilongjiang', 133565)
(2161, 'Binzhou', 'CHN', 'Shandong', 133555)
(2162, 'Linhe', 'CHN', 'Inner Mongolia', 133183)
(2163, 'Wuwei', 'CHN', 'Gansu', 133101)
(2164, 'Duyun', 'CHN', 'Guizhou', 132971)
(2165, 'Mishan', 'CHN', 'Heilongjiang', 132744)
(2166, 'Shangrao', 'CHN', 'Jiangxi', 132455)
(2167, 'Changji', 'CHN', 'Xinxiang', 132260)
(2168, 'Meixian', 'CHN', 'Guangdong', 132156)
(2169, 'Yushu', 'CHN', 'Jilin', 131861)
(2170, 'Tiefa', 'CHN', 'Liaoning', 131807)
(2171, 'HuaiÂ´an', 'CHN', 'Jiangsu', 131149)
(2172, 'Leiyang', 'CHN', 'Hunan', 130115)
(2173, 'Zalantun', 'CHN', 'Inner Mongolia', 130031)
(2174, 'Weihai', 'CHN', 'Shandong', 128888)
(2175, 'Loudi', 'CHN', 'Hunan', 128418)
(2176, 'Qingzhou', 'CHN', 'Shandong', 128258)
(2177, 'Qidong', 'CHN', 'Jiangsu', 126872)
(2178, 'Huaihua', 'CHN', 'Hunan', 126785)
(2179, 'Luohe', 'CHN', 'Henan', 126438)
(2180, 'Chuzhou', 'CHN', 'Anhui', 125341)
(2181, 'Kaiyuan', 'CHN', 'Liaoning', 124219)
(2182, 'Linqing', 'CHN', 'Shandong', 123958)
(2183, 'Chaohu', 'CHN', 'Anhui', 123676)
(2184, 'Laohekou', 'CHN', 'Hubei', 123366)
(2185, 'Dujiangyan', 'CHN', 'Sichuan', 123357)
(2186, 'Zhumadian', 'CHN', 'Henan', 123232)
(2187, 'Linchuan', 'CHN', 'Jiangxi', 121949)
(2188, 'Jiaonan', 'CHN', 'Shandong', 121397)
(2189, 'Sanmenxia', 'CHN', 'Henan', 120523)
(2190, 'Heyuan', 'CHN', 'Guangdong', 120101)
(2191, 'Manzhouli', 'CHN', 'Inner Mongolia', 120023)
(2192, 'Lhasa', 'CHN', 'Tibet', 120000)
(2193, 'Lianyuan', 'CHN', 'Hunan', 118858)
(2194, 'Kuytun', 'CHN', 'Xinxiang', 118553)
(2195, 'Puqi', 'CHN', 'Hubei', 117264)
(2196, 'Hongjiang', 'CHN', 'Hunan', 116188)
(2197, 'Qinzhou', 'CHN', 'Guangxi', 114586)
(2198, 'Renqiu', 'CHN', 'Hebei', 114256)
(2199, 'Yuyao', 'CHN', 'Zhejiang', 114065)
(2200, 'Guigang', 'CHN', 'Guangxi', 114025)
(2201, 'Kaili', 'CHN', 'Guizhou', 113958)
(2202, 'YanÂ´an', 'CHN', 'Shaanxi', 113277)
(2203, 'Beihai', 'CHN', 'Guangxi', 112673)
(2204, 'Xuangzhou', 'CHN', 'Anhui', 112673)
(2205, 'Quzhou', 'CHN', 'Zhejiang', 112373)
(2206, 'YongÂ´an', 'CHN', 'Fujian', 111762)
(2207, 'Zixing', 'CHN', 'Hunan', 110048)
(2208, 'Liyang', 'CHN', 'Jiangsu', 109520)
(2209, 'Yizheng', 'CHN', 'Jiangsu', 109268)
(2210, 'Yumen', 'CHN', 'Gansu', 109234)
(2211, 'Liling', 'CHN', 'Hunan', 108504)
(2212, 'Yuncheng', 'CHN', 'Shanxi', 108359)
(2213, 'Shanwei', 'CHN', 'Guangdong', 107847)
(2214, 'Cixi', 'CHN', 'Zhejiang', 107329)
(2215, 'Yuanjiang', 'CHN', 'Hunan', 107004)
(2216, 'Bozhou', 'CHN', 'Anhui', 106346)
(2217, 'Jinchang', 'CHN', 'Gansu', 105287)
(2218, 'FuÂ´an', 'CHN', 'Fujian', 105265)
(2219, 'Suqian', 'CHN', 'Jiangsu', 105021)
(2220, 'Shishou', 'CHN', 'Hubei', 104571)
(2221, 'Hengshui', 'CHN', 'Hebei', 104269)
(2222, 'Danjiangkou', 'CHN', 'Hubei', 103211)
(2223, 'Fujin', 'CHN', 'Heilongjiang', 103104)
(2224, 'Sanya', 'CHN', 'Hainan', 102820)
(2225, 'Guangshui', 'CHN', 'Hubei', 102770)
(2226, 'Huangshan', 'CHN', 'Anhui', 102628)
(2227, 'Xingcheng', 'CHN', 'Liaoning', 102384)
(2228, 'Zhucheng', 'CHN', 'Shandong', 102134)
(2229, 'Kunshan', 'CHN', 'Jiangsu', 102052)
(2230, 'Haining', 'CHN', 'Zhejiang', 100478)
(2231, 'Pingliang', 'CHN', 'Gansu', 99265)
(2232, 'Fuqing', 'CHN', 'Fujian', 99193)
(2233, 'Xinzhou', 'CHN', 'Shanxi', 98667)
(2234, 'Jieyang', 'CHN', 'Guangdong', 98531)
(2235, 'Zhangjiagang', 'CHN', 'Jiangsu', 97994)
(2236, 'Tong Xian', 'CHN', 'Peking', 97168)
(2237, 'YaÂ´an', 'CHN', 'Sichuan', 95900)
(2238, 'Jinzhou', 'CHN', 'Liaoning', 95761)
(2239, 'Emeishan', 'CHN', 'Sichuan', 94000)
(2240, 'Enshi', 'CHN', 'Hubei', 93056)
(2241, 'Bose', 'CHN', 'Guangxi', 93009)
(2242, 'Yuzhou', 'CHN', 'Henan', 92889)
(2243, 'Kaiyuan', 'CHN', 'Yunnan', 91999)
(2244, 'Tumen', 'CHN', 'Jilin', 91471)
(2245, 'Putian', 'CHN', 'Fujian', 91030)
(2246, 'Linhai', 'CHN', 'Zhejiang', 90870)
(2247, 'Xilin Hot', 'CHN', 'Inner Mongolia', 90646)
(2248, 'Shaowu', 'CHN', 'Fujian', 90286)
(2249, 'Junan', 'CHN', 'Shandong', 90222)
(2250, 'Huaying', 'CHN', 'Sichuan', 89400)
(2251, 'Pingyi', 'CHN', 'Shandong', 89373)
(2252, 'Huangyan', 'CHN', 'Zhejiang', 89288)
(2253, 'Bishkek', 'KGZ', 'Bishkek shaary', 589400)
(2254, 'Osh', 'KGZ', 'Osh', 222700)
(2255, 'Bikenibeu', 'KIR', 'South Tarawa', 5055)
(2256, 'Bairiki', 'KIR', 'South Tarawa', 2226)
(2257, 'SantafÃ© de BogotÃ¡', 'COL', 'SantafÃ© de BogotÃ¡', 6260862)
(2258, 'Cali', 'COL', 'Valle', 2077386)
(2259, 'MedellÃ\xadn', 'COL', 'Antioquia', 1861265)
(2260, 'Barranquilla', 'COL', 'AtlÃ¡ntico', 1223260)
(2261, 'Cartagena', 'COL', 'BolÃ\xadvar', 805757)
(2262, 'CÃºcuta', 'COL', 'Norte de Santander', 606932)
(2263, 'Bucaramanga', 'COL', 'Santander', 515555)
(2264, 'IbaguÃ©', 'COL', 'Tolima', 393664)
(2265, 'Pereira', 'COL', 'Risaralda', 381725)
(2266, 'Santa Marta', 'COL', 'Magdalena', 359147)
(2267, 'Manizales', 'COL', 'Caldas', 337580)
(2268, 'Bello', 'COL', 'Antioquia', 333470)
(2269, 'Pasto', 'COL', 'NariÃ±o', 332396)
(2270, 'Neiva', 'COL', 'Huila', 300052)
(2271, 'Soledad', 'COL', 'AtlÃ¡ntico', 295058)
(2272, 'Armenia', 'COL', 'QuindÃ\xado', 288977)
(2273, 'Villavicencio', 'COL', 'Meta', 273140)
(2274, 'Soacha', 'COL', 'Cundinamarca', 272058)
(2275, 'Valledupar', 'COL', 'Cesar', 263247)
(2276, 'MonterÃ\xada', 'COL', 'CÃ³rdoba', 248245)
(2277, 'ItagÃ¼Ã\xad', 'COL', 'Antioquia', 228985)
(2278, 'Palmira', 'COL', 'Valle', 226509)
(2279, 'Buenaventura', 'COL', 'Valle', 224336)
(2280, 'Floridablanca', 'COL', 'Santander', 221913)
(2281, 'Sincelejo', 'COL', 'Sucre', 220704)
(2282, 'PopayÃ¡n', 'COL', 'Cauca', 200719)
(2283, 'Barrancabermeja', 'COL', 'Santander', 178020)
(2284, 'Dos Quebradas', 'COL', 'Risaralda', 159363)
(2285, 'TuluÃ¡', 'COL', 'Valle', 152488)
(2286, 'Envigado', 'COL', 'Antioquia', 135848)
(2287, 'Cartago', 'COL', 'Valle', 125884)
(2288, 'Girardot', 'COL', 'Cundinamarca', 110963)
(2289, 'Buga', 'COL', 'Valle', 110699)
(2290, 'Tunja', 'COL', 'BoyacÃ¡', 109740)
(2291, 'Florencia', 'COL', 'CaquetÃ¡', 108574)
(2292, 'Maicao', 'COL', 'La Guajira', 108053)
(2293, 'Sogamoso', 'COL', 'BoyacÃ¡', 107728)
(2294, 'Giron', 'COL', 'Santander', 90688)
(2295, 'Moroni', 'COM', 'Njazidja', 36000)
(2296, 'Brazzaville', 'COG', 'Brazzaville', 950000)
(2297, 'Pointe-Noire', 'COG', 'Kouilou', 500000)
(2298, 'Kinshasa', 'COD', 'Kinshasa', 5064000)
(2299, 'Lubumbashi', 'COD', 'Shaba', 851381)
(2300, 'Mbuji-Mayi', 'COD', 'East Kasai', 806475)
(2301, 'Kolwezi', 'COD', 'Shaba', 417810)
(2302, 'Kisangani', 'COD', 'Haute-ZaÃ¯re', 417517)
(2303, 'Kananga', 'COD', 'West Kasai', 393030)
(2304, 'Likasi', 'COD', 'Shaba', 299118)
(2305, 'Bukavu', 'COD', 'South Kivu', 201569)
(2306, 'Kikwit', 'COD', 'Bandundu', 182142)
(2307, 'Tshikapa', 'COD', 'West Kasai', 180860)
(2308, 'Matadi', 'COD', 'Bas-ZaÃ¯re', 172730)
(2309, 'Mbandaka', 'COD', 'Equateur', 169841)
(2310, 'Mwene-Ditu', 'COD', 'East Kasai', 137459)
(2311, 'Boma', 'COD', 'Bas-ZaÃ¯re', 135284)
(2312, 'Uvira', 'COD', 'South Kivu', 115590)
(2313, 'Butembo', 'COD', 'North Kivu', 109406)
(2314, 'Goma', 'COD', 'North Kivu', 109094)
(2315, 'Kalemie', 'COD', 'Shaba', 101309)
(2316, 'Bantam', 'CCK', 'Home Island', 503)
(2317, 'West Island', 'CCK', 'West Island', 167)
(2318, 'Pyongyang', 'PRK', 'Pyongyang-si', 2484000)
(2319, 'Hamhung', 'PRK', 'Hamgyong N', 709730)
(2320, 'Chongjin', 'PRK', 'Hamgyong P', 582480)
(2321, 'Nampo', 'PRK', 'Nampo-si', 566200)
(2322, 'Sinuiju', 'PRK', 'Pyongan P', 326011)
(2323, 'Wonsan', 'PRK', 'Kangwon', 300148)
(2324, 'Phyongsong', 'PRK', 'Pyongan N', 272934)
(2325, 'Sariwon', 'PRK', 'Hwanghae P', 254146)
(2326, 'Haeju', 'PRK', 'Hwanghae N', 229172)
(2327, 'Kanggye', 'PRK', 'Chagang', 223410)
(2328, 'Kimchaek', 'PRK', 'Hamgyong P', 179000)
(2329, 'Hyesan', 'PRK', 'Yanggang', 178020)
(2330, 'Kaesong', 'PRK', 'Kaesong-si', 171500)
(2331, 'Seoul', 'KOR', 'Seoul', 9981619)
(2332, 'Pusan', 'KOR', 'Pusan', 3804522)
(2333, 'Inchon', 'KOR', 'Inchon', 2559424)
(2334, 'Taegu', 'KOR', 'Taegu', 2548568)
(2335, 'Taejon', 'KOR', 'Taejon', 1425835)
(2336, 'Kwangju', 'KOR', 'Kwangju', 1368341)
(2337, 'Ulsan', 'KOR', 'Kyongsangnam', 1084891)
(2338, 'Songnam', 'KOR', 'Kyonggi', 869094)
(2339, 'Puchon', 'KOR', 'Kyonggi', 779412)
(2340, 'Suwon', 'KOR', 'Kyonggi', 755550)
(2341, 'Anyang', 'KOR', 'Kyonggi', 591106)
(2342, 'Chonju', 'KOR', 'Chollabuk', 563153)
(2343, 'Chongju', 'KOR', 'Chungchongbuk', 531376)
(2344, 'Koyang', 'KOR', 'Kyonggi', 518282)
(2345, 'Ansan', 'KOR', 'Kyonggi', 510314)
(2346, 'Pohang', 'KOR', 'Kyongsangbuk', 508899)
(2347, 'Chang-won', 'KOR', 'Kyongsangnam', 481694)
(2348, 'Masan', 'KOR', 'Kyongsangnam', 441242)
(2349, 'Kwangmyong', 'KOR', 'Kyonggi', 350914)
(2350, 'Chonan', 'KOR', 'Chungchongnam', 330259)
(2351, 'Chinju', 'KOR', 'Kyongsangnam', 329886)
(2352, 'Iksan', 'KOR', 'Chollabuk', 322685)
(2353, 'Pyongtaek', 'KOR', 'Kyonggi', 312927)
(2354, 'Kumi', 'KOR', 'Kyongsangbuk', 311431)
(2355, 'Uijongbu', 'KOR', 'Kyonggi', 276111)
(2356, 'Kyongju', 'KOR', 'Kyongsangbuk', 272968)
(2357, 'Kunsan', 'KOR', 'Chollabuk', 266569)
(2358, 'Cheju', 'KOR', 'Cheju', 258511)
(2359, 'Kimhae', 'KOR', 'Kyongsangnam', 256370)
(2360, 'Sunchon', 'KOR', 'Chollanam', 249263)
(2361, 'Mokpo', 'KOR', 'Chollanam', 247452)
(2362, 'Yong-in', 'KOR', 'Kyonggi', 242643)
(2363, 'Wonju', 'KOR', 'Kang-won', 237460)
(2364, 'Kunpo', 'KOR', 'Kyonggi', 235233)
(2365, 'Chunchon', 'KOR', 'Kang-won', 234528)
(2366, 'Namyangju', 'KOR', 'Kyonggi', 229060)
(2367, 'Kangnung', 'KOR', 'Kang-won', 220403)
(2368, 'Chungju', 'KOR', 'Chungchongbuk', 205206)
(2369, 'Andong', 'KOR', 'Kyongsangbuk', 188443)
(2370, 'Yosu', 'KOR', 'Chollanam', 183596)
(2371, 'Kyongsan', 'KOR', 'Kyongsangbuk', 173746)
(2372, 'Paju', 'KOR', 'Kyonggi', 163379)
(2373, 'Yangsan', 'KOR', 'Kyongsangnam', 163351)
(2374, 'Ichon', 'KOR', 'Kyonggi', 155332)
(2375, 'Asan', 'KOR', 'Chungchongnam', 154663)
(2376, 'Koje', 'KOR', 'Kyongsangnam', 147562)
(2377, 'Kimchon', 'KOR', 'Kyongsangbuk', 147027)
(2378, 'Nonsan', 'KOR', 'Chungchongnam', 146619)

(2953, 'Walbrzych', 'POL', 'Dolnoslaskie', 136923)
(2954, 'Tychy', 'POL', 'Slaskie', 133178)
(2955, 'Dabrowa GÃ³rnicza', 'POL', 'Slaskie', 131037)
(2956, 'Plock', 'POL', 'Mazowieckie', 131011)
(2957, 'Elblag', 'POL', 'Warminsko-Mazurskie', 129782)
(2958, 'Opole', 'POL', 'Opolskie', 129553)
(2959, 'GorzÃ³w Wielkopolski', 'POL', 'Lubuskie', 126019)
(2960, 'Wloclawek', 'POL', 'Kujawsko-Pomorskie', 123373)
(2961, 'ChorzÃ³w', 'POL', 'Slaskie', 121708)
(2962, 'TarnÃ³w', 'POL', 'Malopolskie', 121494)
(2963, 'Zielona GÃ³ra', 'POL', 'Lubuskie', 118182)
(2964, 'Koszalin', 'POL', 'Zachodnio-Pomorskie', 112375)
(2965, 'Legnica', 'POL', 'Dolnoslaskie', 109335)
(2966, 'Kalisz', 'POL', 'Wielkopolskie', 106641)
(2967, 'Grudziadz', 'POL', 'Kujawsko-Pomorskie', 102434)
(2968, 'Slupsk', 'POL', 'Pomorskie', 102370)
(2969, 'Jastrzebie-ZdrÃ³j', 'POL', 'Slaskie', 102294)
(2970, 'Jaworzno', 'POL', 'Slaskie', 97929)
(2971, 'Jelenia GÃ³ra', 'POL', 'Dolnoslaskie', 93901)
(2972, 'Malabo', 'GNQ', 'Bioko', 40000)
(2973, 'Doha', 'QAT', 'Doha', 355000)
(2974, 'Paris', 'FRA', 'ÃŽle-de-France', 2125246)
(2975, 'Marseille', 'FRA', 'Provence-Alpes-CÃ´te', 798430)
(2976, 'Lyon', 'FRA', 'RhÃ´ne-Alpes', 445452)
(2977, 'Toulouse', 'FRA', 'Midi-PyrÃ©nÃ©es', 390350)
(2978, 'Nice', 'FRA', 'Provence-Alpes-CÃ´te', 342738)
(2979, 'Nantes', 'FRA', 'Pays de la Loire', 270251)
(2980, 'Strasbourg', 'FRA', 'Alsace', 264115)
(2981, 'Montpellier', 'FRA', 'Languedoc-Roussillon', 225392)
(2982, 'Bordeaux', 'FRA', 'Aquitaine', 215363)
(2983, 'Rennes', 'FRA', 'Haute-Normandie', 206229)
(2984, 'Le Havre', 'FRA', 'Champagne-Ardenne', 190905)
(2985, 'Reims', 'FRA', 'Nord-Pas-de-Calais', 187206)
(2986, 'Lille', 'FRA', 'RhÃ´ne-Alpes', 184657)
(2987, 'St-Ã‰tienne', 'FRA', 'Bretagne', 180210)
(2988, 'Toulon', 'FRA', 'Provence-Alpes-CÃ´te', 160639)
(2989, 'Grenoble', 'FRA', 'RhÃ´ne-Alpes', 153317)
(2990, 'Angers', 'FRA', 'Pays de la Loire', 151279)
(2991, 'Dijon', 'FRA', 'Bourgogne', 149867)
(2992, 'Brest', 'FRA', 'Bretagne', 149634)
(2993, 'Le Mans', 'FRA', 'Pays de la Loire', 146105)
(2994, 'Clermont-Ferrand', 'FRA', 'Auvergne', 137140)
(2995, 'Amiens', 'FRA', 'Picardie', 135501)
(2996, 'Aix-en-Provence', 'FRA', 'Provence-Alpes-CÃ´te', 134222)
(2997, 'Limoges', 'FRA', 'Limousin', 133968)
(2998, 'NÃ®mes', 'FRA', 'Languedoc-Roussillon', 133424)
(2999, 'Tours', 'FRA', 'Centre', 132820)
(3000, 'Villeurbanne', 'FRA', 'RhÃ´ne-Alpes', 124215)
(3001, 'Metz', 'FRA', 'Lorraine', 123776)
(3002, 'BesanÃ§on', 'FRA', 'Franche-ComtÃ©', 117733)
(3003, 'Caen', 'FRA', 'Basse-Normandie', 113987)
(3004, 'OrlÃ©ans', 'FRA', 'Centre', 113126)
(3005, 'Mulhouse', 'FRA', 'Alsace', 110359)
(3006, 'Rouen', 'FRA', 'Haute-Normandie', 106592)
(3007, 'Boulogne-Billancourt', 'FRA', 'ÃŽle-de-France', 106367)
(3008, 'Perpignan', 'FRA', 'Languedoc-Roussillon', 105115)
(3009, 'Nancy', 'FRA', 'Lorraine', 103605)
(3010, 'Roubaix', 'FRA', 'Nord-Pas-de-Calais', 96984)
(3011, 'Argenteuil', 'FRA', 'ÃŽle-de-France', 93961)
(3012, 'Tourcoing', 'FRA', 'Nord-Pas-de-Calais', 93540)
(3013, 'Montreuil', 'FRA', 'ÃŽle-de-France', 90674)
(3014, 'Cayenne', 'GUF', 'Cayenne', 50699)
(3015, 'Faaa', 'PYF', 'Tahiti', 25888)
(3016, 'Papeete', 'PYF', 'Tahiti', 25553)
(3017, 'Saint-Denis', 'REU', 'Saint-Denis', 131480)
(3018, 'Bucuresti', 'ROM', 'Bukarest', 2016131)
(3019, 'Iasi', 'ROM', 'Iasi', 348070)
(3020, 'Constanta', 'ROM', 'Constanta', 342264)
(3021, 'Cluj-Napoca', 'ROM', 'Cluj', 332498)
(3022, 'Galati', 'ROM', 'Galati', 330276)
(3023, 'Timisoara', 'ROM', 'Timis', 324304)
(3024, 'Brasov', 'ROM', 'Brasov', 314225)
(3025, 'Craiova', 'ROM', 'Dolj', 313530)
(3026, 'Ploiesti', 'ROM', 'Prahova', 251348)
(3027, 'Braila', 'ROM', 'Braila', 233756)
(3028, 'Oradea', 'ROM', 'Bihor', 222239)
(3029, 'Bacau', 'ROM', 'Bacau', 209235)
(3030, 'Pitesti', 'ROM', 'Arges', 187170)
(3031, 'Arad', 'ROM', 'Arad', 184408)
(3032, 'Sibiu', 'ROM', 'Sibiu', 169611)
(3033, 'TÃ¢rgu Mures', 'ROM', 'Mures', 165153)
(3034, 'Baia Mare', 'ROM', 'Maramures', 149665)
(3035, 'Buzau', 'ROM', 'Buzau', 148372)
(3036, 'Satu Mare', 'ROM', 'Satu Mare', 130059)
(3037, 'Botosani', 'ROM', 'Botosani', 128730)
(3038, 'Piatra Neamt', 'ROM', 'Neamt', 125070)
(3039, 'RÃ¢mnicu VÃ¢lcea', 'ROM', 'VÃ¢lcea', 119741)
(3040, 'Suceava', 'ROM', 'Suceava', 118549)
(3041, 'Drobeta-Turnu Severin', 'ROM', 'Mehedinti', 117865)
(3042, 'TÃ¢rgoviste', 'ROM', 'DÃ¢mbovita', 98980)
(3043, 'Focsani', 'ROM', 'Vrancea', 98979)
(3044, 'TÃ¢rgu Jiu', 'ROM', 'Gorj', 98524)
(3045, 'Tulcea', 'ROM', 'Tulcea', 96278)
(3046, 'Resita', 'ROM', 'Caras-Severin', 93976)
(3047, 'Kigali', 'RWA', 'Kigali', 286000)
(3048, 'Stockholm', 'SWE', 'Lisboa', 750348)
(3049, 'Gothenburg [GÃ¶teborg]', 'SWE', 'West GÃ¶tanmaan lÃ¤n', 466990)
(3050, 'MalmÃ¶', 'SWE', 'SkÃ¥ne lÃ¤n', 259579)
(3051, 'Uppsala', 'SWE', 'Uppsala lÃ¤n', 189569)
(3052, 'LinkÃ¶ping', 'SWE', 'East GÃ¶tanmaan lÃ¤n', 133168)
(3053, 'VÃ¤sterÃ¥s', 'SWE', 'VÃ¤stmanlands lÃ¤n', 126328)
(3054, 'Ã–rebro', 'SWE', 'Ã–rebros lÃ¤n', 124207)
(3055, 'NorrkÃ¶ping', 'SWE', 'East GÃ¶tanmaan lÃ¤n', 122199)
(3056, 'Helsingborg', 'SWE', 'SkÃ¥ne lÃ¤n', 117737)
(3057, 'JÃ¶nkÃ¶ping', 'SWE', 'JÃ¶nkÃ¶pings lÃ¤n', 117095)
(3058, 'UmeÃ¥', 'SWE', 'VÃ¤sterbottens lÃ¤n', 104512)
(3059, 'Lund', 'SWE', 'SkÃ¥ne lÃ¤n', 98948)
(3060, 'BorÃ¥s', 'SWE', 'West GÃ¶tanmaan lÃ¤n', 96883)
(3061, 'Sundsvall', 'SWE', 'VÃ¤sternorrlands lÃ¤', 93126)
(3062, 'GÃ¤vle', 'SWE', 'GÃ¤vleborgs lÃ¤n', 90742)
(3063, 'Jamestown', 'SHN', 'Saint Helena', 1500)
(3064, 'Basseterre', 'KNA', 'St George Basseterre', 11600)
(3065, 'Castries', 'LCA', 'Castries', 2301)
(3066, 'Kingstown', 'VCT', 'St George', 17100)
(3067, 'Saint-Pierre', 'SPM', 'Saint-Pierre', 5808)
(3068, 'Berlin', 'DEU', 'Berliini', 3386667)
(3069, 'Hamburg', 'DEU', 'Hamburg', 1704735)
(3070, 'Munich [MÃ¼nchen]', 'DEU', 'Baijeri', 1194560)
(3071, 'KÃ¶ln', 'DEU', 'Nordrhein-Westfalen', 962507)
(3072, 'Frankfurt am Main', 'DEU', 'Hessen', 643821)
(3073, 'Essen', 'DEU', 'Nordrhein-Westfalen', 599515)
(3074, 'Dortmund', 'DEU', 'Nordrhein-Westfalen', 590213)
(3075, 'Stuttgart', 'DEU', 'Baden-WÃ¼rttemberg', 582443)
(3076, 'DÃ¼sseldorf', 'DEU', 'Nordrhein-Westfalen', 568855)
(3077, 'Bremen', 'DEU', 'Bremen', 540330)
(3078, 'Duisburg', 'DEU', 'Nordrhein-Westfalen', 519793)
(3079, 'Hannover', 'DEU', 'Niedersachsen', 514718)
(3080, 'Leipzig', 'DEU', 'Saksi', 489532)
(3081, 'NÃ¼rnberg', 'DEU', 'Baijeri', 486628)
(3082, 'Dresden', 'DEU', 'Saksi', 476668)
(3083, 'Bochum', 'DEU', 'Nordrhein-Westfalen', 392830)
(3084, 'Wuppertal', 'DEU', 'Nordrhein-Westfalen', 368993)
(3085, 'Bielefeld', 'DEU', 'Nordrhein-Westfalen', 321125)
(3086, 'Mannheim', 'DEU', 'Baden-WÃ¼rttemberg', 307730)
(3087, 'Bonn', 'DEU', 'Nordrhein-Westfalen', 301048)
(3088, 'Gelsenkirchen', 'DEU', 'Nordrhein-Westfalen', 281979)
(3089, 'Karlsruhe', 'DEU', 'Baden-WÃ¼rttemberg', 277204)
(3090, 'Wiesbaden', 'DEU', 'Hessen', 268716)
(3091, 'MÃ¼nster', 'DEU', 'Nordrhein-Westfalen', 264670)
(3092, 'MÃ¶nchengladbach', 'DEU', 'Nordrhein-Westfalen', 263697)
(3093, 'Chemnitz', 'DEU', 'Saksi', 263222)
(3094, 'Augsburg', 'DEU', 'Baijeri', 254867)
(3095, 'Halle/Saale', 'DEU', 'Anhalt Sachsen', 254360)
(3096, 'Braunschweig', 'DEU', 'Niedersachsen', 246322)
(3097, 'Aachen', 'DEU', 'Nordrhein-Westfalen', 243825)
(3098, 'Krefeld', 'DEU', 'Nordrhein-Westfalen', 241769)
(3099, 'Magdeburg', 'DEU', 'Anhalt Sachsen', 235073)
(3100, 'Kiel', 'DEU', 'Schleswig-Holstein', 233795)
(3101, 'Oberhausen', 'DEU', 'Nordrhein-Westfalen', 222349)
(3102, 'LÃ¼beck', 'DEU', 'Schleswig-Holstein', 213326)
(3103, 'Hagen', 'DEU', 'Nordrhein-Westfalen', 205201)
(3104, 'Rostock', 'DEU', 'Mecklenburg-Vorpomme', 203279)
(3105, 'Freiburg im Breisgau', 'DEU', 'Baden-WÃ¼rttemberg', 202455)
(3106, 'Erfurt', 'DEU', 'ThÃ¼ringen', 201267)
(3107, 'Kassel', 'DEU', 'Hessen', 196211)
(3108, 'SaarbrÃ¼cken', 'DEU', 'Saarland', 183836)
(3109, 'Mainz', 'DEU', 'Rheinland-Pfalz', 183134)
(3110, 'Hamm', 'DEU', 'Nordrhein-Westfalen', 181804)
(3111, 'Herne', 'DEU', 'Nordrhein-Westfalen', 175661)
(3112, 'MÃ¼lheim an der Ruhr', 'DEU', 'Nordrhein-Westfalen', 173895)
(3113, 'Solingen', 'DEU', 'Nordrhein-Westfalen', 165583)
(3114, 'OsnabrÃ¼ck', 'DEU', 'Niedersachsen', 164539)
(3115, 'Ludwigshafen am Rhein', 'DEU', 'Rheinland-Pfalz', 163771)
(3116, 'Leverkusen', 'DEU', 'Nordrhein-Westfalen', 160841)
(3117, 'Oldenburg', 'DEU', 'Niedersachsen', 154125)
(3118, 'Neuss', 'DEU', 'Nordrhein-Westfalen', 149702)
(3119, 'Heidelberg', 'DEU', 'Baden-WÃ¼rttemberg', 139672)
(3120, 'Darmstadt', 'DEU', 'Hessen', 137776)
(3121, 'Paderborn', 'DEU', 'Nordrhein-Westfalen', 137647)
(3122, 'Potsdam', 'DEU', 'Brandenburg', 128983)
(3123, 'WÃ¼rzburg', 'DEU', 'Baijeri', 127350)
(3124, 'Regensburg', 'DEU', 'Baijeri', 125236)
(3125, 'Recklinghausen', 'DEU', 'Nordrhein-Westfalen', 125022)
(3126, 'GÃ¶ttingen', 'DEU', 'Niedersachsen', 124775)
(3127, 'Bremerhaven', 'DEU', 'Bremen', 122735)
(3128, 'Wolfsburg', 'DEU', 'Niedersachsen', 121954)
(3129, 'Bottrop', 'DEU', 'Nordrhein-Westfalen', 121097)
(3130, 'Remscheid', 'DEU', 'Nordrhein-Westfalen', 120125)
(3131, 'Heilbronn', 'DEU', 'Baden-WÃ¼rttemberg', 119526)
(3132, 'Pforzheim', 'DEU', 'Baden-WÃ¼rttemberg', 117227)
(3133, 'Offenbach am Main', 'DEU', 'Hessen', 116627)
(3134, 'Ulm', 'DEU', 'Baden-WÃ¼rttemberg', 116103)
(3135, 'Ingolstadt', 'DEU', 'Baijeri', 114826)
(3136, 'Gera', 'DEU', 'ThÃ¼ringen', 114718)
(3137, 'Salzgitter', 'DEU', 'Niedersachsen', 112934)
(3138, 'Cottbus', 'DEU', 'Brandenburg', 110894)
(3139, 'Reutlingen', 'DEU', 'Baden-WÃ¼rttemberg', 110343)
(3140, 'FÃ¼rth', 'DEU', 'Baijeri', 109771)
(3141, 'Siegen', 'DEU', 'Nordrhein-Westfalen', 109225)
(3142, 'Koblenz', 'DEU', 'Rheinland-Pfalz', 108003)
(3143, 'Moers', 'DEU', 'Nordrhein-Westfalen', 106837)
(3144, 'Bergisch Gladbach', 'DEU', 'Nordrhein-Westfalen', 106150)
(3145, 'Zwickau', 'DEU', 'Saksi', 104146)
(3146, 'Hildesheim', 'DEU', 'Niedersachsen', 104013)
(3147, 'Witten', 'DEU', 'Nordrhein-Westfalen', 103384)
(3148, 'Schwerin', 'DEU', 'Mecklenburg-Vorpomme', 102878)
(3149, 'Erlangen', 'DEU', 'Baijeri', 100750)
(3150, 'Kaiserslautern', 'DEU', 'Rheinland-Pfalz', 100025)
(3151, 'Trier', 'DEU', 'Rheinland-Pfalz', 99891)
(3152, 'Jena', 'DEU', 'ThÃ¼ringen', 99779)
(3153, 'Iserlohn', 'DEU', 'Nordrhein-Westfalen', 99474)
(3154, 'GÃ¼tersloh', 'DEU', 'Nordrhein-Westfalen', 95028)
(3155, 'Marl', 'DEU', 'Nordrhein-Westfalen', 93735)
(3156, 'LÃ¼nen', 'DEU', 'Nordrhein-Westfalen', 92044)
(3157, 'DÃ¼ren', 'DEU', 'Nordrhein-Westfalen', 91092)
(3158, 'Ratingen', 'DEU', 'Nordrhein-Westfalen', 90951)
(3159, 'Velbert', 'DEU', 'Nordrhein-Westfalen', 89881)
(3160, 'Esslingen am Neckar', 'DEU', 'Baden-WÃ¼rttemberg', 89667)
(3161, 'Honiara', 'SLB', 'Honiara', 50100)
(3162, 'Lusaka', 'ZMB', 'Lusaka', 1317000)
(3163, 'Ndola', 'ZMB', 'Copperbelt', 329200)
(3164, 'Kitwe', 'ZMB', 'Copperbelt', 288600)
(3165, 'Kabwe', 'ZMB', 'Central', 154300)
(3166, 'Chingola', 'ZMB', 'Copperbelt', 142400)
(3167, 'Mufulira', 'ZMB', 'Copperbelt', 123900)
(3168, 'Luanshya', 'ZMB', 'Copperbelt', 118100)
(3169, 'Apia', 'WSM', 'Upolu', 35900)
(3170, 'Serravalle', 'SMR', 'Serravalle/Dogano', 4802)
(3171, 'San Marino', 'SMR', 'San Marino', 2294)
(3172, 'SÃ£o TomÃ©', 'STP', 'Aqua Grande', 49541)
(3173, 'Riyadh', 'SAU', 'Riyadh', 3324000)
(3174, 'Jedda', 'SAU', 'Mekka', 2046300)
(3175, 'Mekka', 'SAU', 'Mekka', 965700)
(3176, 'Medina', 'SAU', 'Medina', 608300)
(3177, 'al-Dammam', 'SAU', 'al-Sharqiya', 482300)
(3178, 'al-Taif', 'SAU', 'Mekka', 416100)
(3179, 'Tabuk', 'SAU', 'Tabuk', 292600)
(3180, 'Burayda', 'SAU', 'al-Qasim', 248600)
(3181, 'al-Hufuf', 'SAU', 'al-Sharqiya', 225800)
(3182, 'al-Mubarraz', 'SAU', 'al-Sharqiya', 219100)
(3183, 'Khamis Mushayt', 'SAU', 'Asir', 217900)
(3184, 'Hail', 'SAU', 'Hail', 176800)
(3185, 'al-Kharj', 'SAU', 'Riad', 152100)
(3186, 'al-Khubar', 'SAU', 'al-Sharqiya', 141700)
(3187, 'Jubayl', 'SAU', 'al-Sharqiya', 140800)
(3188, 'Hafar al-Batin', 'SAU', 'al-Sharqiya', 137800)
(3189, 'al-Tuqba', 'SAU', 'al-Sharqiya', 125700)
(3190, 'Yanbu', 'SAU', 'Medina', 119800)
(3191, 'Abha', 'SAU', 'Asir', 112300)
(3192, 'AraÂ´ar', 'SAU', 'al-Khudud al-Samaliy', 108100)
(3193, 'al-Qatif', 'SAU', 'al-Sharqiya', 98900)
(3194, 'al-Hawiya', 'SAU', 'Mekka', 93900)
(3195, 'Unayza', 'SAU', 'Qasim', 91100)
(3196, 'Najran', 'SAU', 'Najran', 91000)
(3197, 'Pikine', 'SEN', 'Cap-Vert', 855287)
(3198, 'Dakar', 'SEN', 'Cap-Vert', 785071)
(3199, 'ThiÃ¨s', 'SEN', 'ThiÃ¨s', 248000)
(3200, 'Kaolack', 'SEN', 'Kaolack', 199000)
(3201, 'Ziguinchor', 'SEN', 'Ziguinchor', 192000)
(3202, 'Rufisque', 'SEN', 'Cap-Vert', 150000)
(3203, 'Saint-Louis', 'SEN', 'Saint-Louis', 132400)
(3204, 'Mbour', 'SEN', 'ThiÃ¨s', 109300)
(3205, 'Diourbel', 'SEN', 'Diourbel', 99400)
(3206, 'Victoria', 'SYC', 'MahÃ©', 41000)
(3207, 'Freetown', 'SLE', 'Western', 850000)
(3208, 'Singapore', 'SGP', 'Â–', 4017733)
(3209, 'Bratislava', 'SVK', 'Bratislava', 448292)
(3210, 'KoÂšice', 'SVK', 'VÃ½chodnÃ© Slovensko', 241874)
(3211, 'PreÂšov', 'SVK', 'VÃ½chodnÃ© Slovensko', 93977)
(3212, 'Ljubljana', 'SVN', 'Osrednjeslovenska', 270986)
(3213, 'Maribor', 'SVN', 'Podravska', 115532)
(3214, 'Mogadishu', 'SOM', 'Banaadir', 997000)
(3215, 'Hargeysa', 'SOM', 'Woqooyi Galbeed', 90000)
(3216, 'Kismaayo', 'SOM', 'Jubbada Hoose', 90000)
(3217, 'Colombo', 'LKA', 'Western', 645000)
(3218, 'Dehiwala', 'LKA', 'Western', 203000)
(3219, 'Moratuwa', 'LKA', 'Western', 190000)
(3220, 'Jaffna', 'LKA', 'Northern', 149000)
(3221, 'Kandy', 'LKA', 'Central', 140000)
(3222, 'Sri Jayawardenepura Kotte', 'LKA', 'Western', 118000)
(3223, 'Negombo', 'LKA', 'Western', 100000)
(3224, 'Omdurman', 'SDN', 'Khartum', 1271403)
(3225, 'Khartum', 'SDN', 'Khartum', 947483)
(3226, 'Sharq al-Nil', 'SDN', 'Khartum', 700887)
(3227, 'Port Sudan', 'SDN', 'al-Bahr al-Ahmar', 308195)
(3228, 'Kassala', 'SDN', 'Kassala', 234622)
(3229, 'Obeid', 'SDN', 'Kurdufan al-Shamaliy', 229425)
(3230, 'Nyala', 'SDN', 'Darfur al-Janubiya', 227183)
(3231, 'Wad Madani', 'SDN', 'al-Jazira', 211362)
(3232, 'al-Qadarif', 'SDN', 'al-Qadarif', 191164)
(3233, 'Kusti', 'SDN', 'al-Bahr al-Abyad', 173599)
(3234, 'al-Fashir', 'SDN', 'Darfur al-Shamaliya', 141884)
(3235, 'Juba', 'SDN', 'Bahr al-Jabal', 114980)
(3236, 'Helsinki [Helsingfors]', 'FIN', 'Newmaa', 555474)
(3237, 'Espoo', 'FIN', 'Newmaa', 213271)
(3238, 'Tampere', 'FIN', 'Pirkanmaa', 195468)
(3239, 'Vantaa', 'FIN', 'Newmaa', 178471)
(3240, 'Turku [Ã…bo]', 'FIN', 'Varsinais-Suomi', 172561)
(3241, 'Oulu', 'FIN', 'Pohjois-Pohjanmaa', 120753)
(3242, 'Lahti', 'FIN', 'PÃ¤ijÃ¤t-HÃ¤me', 96921)
(3243, 'Paramaribo', 'SUR', 'Paramaribo', 112000)
(3244, 'Mbabane', 'SWZ', 'Hhohho', 61000)
(3245, 'ZÃ¼rich', 'CHE', 'ZÃ¼rich', 336800)
(3246, 'Geneve', 'CHE', 'Geneve', 173500)
(3247, 'Basel', 'CHE', 'Basel-Stadt', 166700)
(3248, 'Bern', 'CHE', 'Bern', 122700)
(3249, 'Lausanne', 'CHE', 'Vaud', 114500)
(3250, 'Damascus', 'SYR', 'Damascus', 1347000)
(3251, 'Aleppo', 'SYR', 'Aleppo', 1261983)
(3252, 'Hims', 'SYR', 'Hims', 507404)
(3253, 'Hama', 'SYR', 'Hama', 343361)
(3254, 'Latakia', 'SYR', 'Latakia', 264563)
(3255, 'al-Qamishliya', 'SYR', 'al-Hasaka', 144286)
(3256, 'Dayr al-Zawr', 'SYR', 'Dayr al-Zawr', 140459)
(3257, 'Jaramana', 'SYR', 'Damaskos', 138469)
(3258, 'Duma', 'SYR', 'Damaskos', 131158)
(3259, 'al-Raqqa', 'SYR', 'al-Raqqa', 108020)
(3260, 'Idlib', 'SYR', 'Idlib', 91081)
(3261, 'Dushanbe', 'TJK', 'Karotegin', 524000)
(3262, 'Khujand', 'TJK', 'Khujand', 161500)
(3263, 'Taipei', 'TWN', 'Taipei', 2641312)
(3264, 'Kaohsiung', 'TWN', 'Kaohsiung', 1475505)
(3265, 'Taichung', 'TWN', 'Taichung', 940589)
(3266, 'Tainan', 'TWN', 'Tainan', 728060)
(3267, 'Panchiao', 'TWN', 'Taipei', 523850)
(3268, 'Chungho', 'TWN', 'Taipei', 392176)
(3269, 'Keelung (Chilung)', 'TWN', 'Keelung', 385201)
(3270, 'Sanchung', 'TWN', 'Taipei', 380084)
(3271, 'Hsinchuang', 'TWN', 'Taipei', 365048)
(3272, 'Hsinchu', 'TWN', 'Hsinchu', 361958)
(3273, 'Chungli', 'TWN', 'Taoyuan', 318649)
(3274, 'Fengshan', 'TWN', 'Kaohsiung', 318562)
(3275, 'Taoyuan', 'TWN', 'Taoyuan', 316438)
(3276, 'Chiayi', 'TWN', 'Chiayi', 265109)
(3277, 'Hsintien', 'TWN', 'Taipei', 263603)
(3278, 'Changhwa', 'TWN', 'Changhwa', 227715)
(3279, 'Yungho', 'TWN', 'Taipei', 227700)
(3280, 'Tucheng', 'TWN', 'Taipei', 224897)
(3281, 'Pingtung', 'TWN', 'Pingtung', 214727)
(3282, 'Yungkang', 'TWN', 'Tainan', 193005)
(3283, 'Pingchen', 'TWN', 'Taoyuan', 188344)
(3284, 'Tali', 'TWN', 'Taichung', 171940)
(3285, 'Taiping', 'TWN', '', 165524)
(3286, 'Pate', 'TWN', 'Taoyuan', 161700)
(3287, 'Fengyuan', 'TWN', 'Taichung', 161032)
(3288, 'Luchou', 'TWN', 'Taipei', 160516)
(3289, 'Hsichuh', 'TWN', 'Taipei', 154976)
(3290, 'Shulin', 'TWN', 'Taipei', 151260)
(3291, 'Yuanlin', 'TWN', 'Changhwa', 126402)
(3292, 'Yangmei', 'TWN', 'Taoyuan', 126323)
(3293, 'Taliao', 'TWN', '', 115897)
(3294, 'Kueishan', 'TWN', '', 112195)
(3295, 'Tanshui', 'TWN', 'Taipei', 111882)
(3296, 'Taitung', 'TWN', 'Taitung', 111039)
(3297, 'Hualien', 'TWN', 'Hualien', 108407)
(3298, 'Nantou', 'TWN', 'Nantou', 104723)
(3299, 'Lungtan', 'TWN', 'Taipei', 103088)
(3300, 'Touliu', 'TWN', 'YÃ¼nlin', 98900)
(3301, 'Tsaotun', 'TWN', 'Nantou', 96800)
(3302, 'Kangshan', 'TWN', 'Kaohsiung', 92200)
(3303, 'Ilan', 'TWN', 'Ilan', 92000)
(3304, 'Miaoli', 'TWN', 'Miaoli', 90000)
(3305, 'Dar es Salaam', 'TZA', 'Dar es Salaam', 1747000)
(3306, 'Dodoma', 'TZA', 'Dodoma', 189000)
(3307, 'Mwanza', 'TZA', 'Mwanza', 172300)
(3308, 'Zanzibar', 'TZA', 'Zanzibar West', 157634)
(3309, 'Tanga', 'TZA', 'Tanga', 137400)
(3310, 'Mbeya', 'TZA', 'Mbeya', 130800)
(3311, 'Morogoro', 'TZA', 'Morogoro', 117800)
(3312, 'Arusha', 'TZA', 'Arusha', 102500)
(3313, 'Moshi', 'TZA', 'Kilimanjaro', 96800)
(3314, 'Tabora', 'TZA', 'Tabora', 92800)
(3315, 'KÃ¸benhavn', 'DNK', 'KÃ¸benhavn', 495699)
(3316, 'Ã…rhus', 'DNK', 'Ã…rhus', 284846)
(3317, 'Odense', 'DNK', 'Fyn', 183912)
(3318, 'Aalborg', 'DNK', 'Nordjylland', 161161)
(3319, 'Frederiksberg', 'DNK', 'Frederiksberg', 90327)
(3320, 'Bangkok', 'THA', 'Bangkok', 6320174)
(3321, 'Nonthaburi', 'THA', 'Nonthaburi', 292100)
(3322, 'Nakhon Ratchasima', 'THA', 'Nakhon Ratchasima', 181400)
(3323, 'Chiang Mai', 'THA', 'Chiang Mai', 171100)
(3324, 'Udon Thani', 'THA', 'Udon Thani', 158100)
(3325, 'Hat Yai', 'THA', 'Songkhla', 148632)
(3326, 'Khon Kaen', 'THA', 'Khon Kaen', 126500)
(3327, 'Pak Kret', 'THA', 'Nonthaburi', 126055)
(3328, 'Nakhon Sawan', 'THA', 'Nakhon Sawan', 123800)
(3329, 'Ubon Ratchathani', 'THA', 'Ubon Ratchathani', 116300)
(3330, 'Songkhla', 'THA', 'Songkhla', 94900)
(3331, 'Nakhon Pathom', 'THA', 'Nakhon Pathom', 94100)
(3332, 'LomÃ©', 'TGO', 'Maritime', 375000)
(3333, 'Fakaofo', 'TKL', 'Fakaofo', 300)
(3334, 'NukuÂ´alofa', 'TON', 'Tongatapu', 22400)
(3335, 'Chaguanas', 'TTO', 'Caroni', 56601)
(3336, 'Port-of-Spain', 'TTO', 'Port-of-Spain', 43396)
(3337, 'NÂ´DjamÃ©na', 'TCD', 'Chari-Baguirmi', 530965)
(3338, 'Moundou', 'TCD', 'Logone Occidental', 99500)
(3339, 'Praha', 'CZE', 'HlavnÃ\xad mesto Praha', 1181126)
(3340, 'Brno', 'CZE', 'JiznÃ\xad Morava', 381862)
(3341, 'Ostrava', 'CZE', 'SevernÃ\xad Morava', 320041)
(3342, 'Plzen', 'CZE', 'ZapadnÃ\xad Cechy', 166759)
(3343, 'Olomouc', 'CZE', 'SevernÃ\xad Morava', 102702)
(3344, 'Liberec', 'CZE', 'SevernÃ\xad Cechy', 99155)
(3345, 'CeskÃ© Budejovice', 'CZE', 'JiznÃ\xad Cechy', 98186)
(3346, 'Hradec KrÃ¡lovÃ©', 'CZE', 'VÃ½chodnÃ\xad Cechy', 98080)
(3347, 'ÃšstÃ\xad nad Labem', 'CZE', 'SevernÃ\xad Cechy', 95491)
(3348, 'Pardubice', 'CZE', 'VÃ½chodnÃ\xad Cechy', 91309)
(3349, 'Tunis', 'TUN', 'Tunis', 690600)
(3350, 'Sfax', 'TUN', 'Sfax', 257800)
(3351, 'Ariana', 'TUN', 'Ariana', 197000)
(3352, 'Ettadhamen', 'TUN', 'Ariana', 178600)
(3353, 'Sousse', 'TUN', 'Sousse', 145900)
(3354, 'Kairouan', 'TUN', 'Kairouan', 113100)
(3355, 'Biserta', 'TUN', 'Biserta', 108900)
(3356, 'GabÃ¨s', 'TUN', 'GabÃ¨s', 106600)
(3357, 'Istanbul', 'TUR', 'Istanbul', 8787958)
(3358, 'Ankara', 'TUR', 'Ankara', 3038159)
(3359, 'Izmir', 'TUR', 'Izmir', 2130359)
(3360, 'Adana', 'TUR', 'Adana', 1131198)
(3361, 'Bursa', 'TUR', 'Bursa', 1095842)
(3362, 'Gaziantep', 'TUR', 'Gaziantep', 789056)

(4039, 'Midland', 'USA', 'Texas', 98293)
(4040, 'Davenport', 'USA', 'Iowa', 98256)
(4041, 'Mission Viejo', 'USA', 'California', 98049)
(4042, 'Miami Beach', 'USA', 'Florida', 97855)
(4043, 'Sunrise Manor', 'USA', 'Nevada', 95362)
(4044, 'New Bedford', 'USA', 'Massachusetts', 94780)
(4045, 'El Cajon', 'USA', 'California', 94578)
(4046, 'Norman', 'USA', 'Oklahoma', 94193)
(4047, 'Richmond', 'USA', 'California', 94100)
(4048, 'Albany', 'USA', 'New York', 93994)
(4049, 'Brockton', 'USA', 'Massachusetts', 93653)
(4050, 'Roanoke', 'USA', 'Virginia', 93357)
(4051, 'Billings', 'USA', 'Montana', 92988)
(4052, 'Compton', 'USA', 'California', 92864)
(4053, 'Gainesville', 'USA', 'Florida', 92291)
(4054, 'Fairfield', 'USA', 'California', 92256)
(4055, 'Arden-Arcade', 'USA', 'California', 92040)
(4056, 'San Mateo', 'USA', 'California', 91799)
(4057, 'Visalia', 'USA', 'California', 91762)
(4058, 'Boulder', 'USA', 'Colorado', 91238)
(4059, 'Cary', 'USA', 'North Carolina', 91213)
(4060, 'Santa Monica', 'USA', 'California', 91084)
(4061, 'Fall River', 'USA', 'Massachusetts', 90555)
(4062, 'Kenosha', 'USA', 'Wisconsin', 89447)
(4063, 'Elgin', 'USA', 'Illinois', 89408)
(4064, 'Odessa', 'USA', 'Texas', 89293)
(4065, 'Carson', 'USA', 'California', 89089)
(4066, 'Charleston', 'USA', 'South Carolina', 89063)
(4067, 'Charlotte Amalie', 'VIR', 'St Thomas', 13000)
(4068, 'Harare', 'ZWE', 'Harare', 1410000)
(4069, 'Bulawayo', 'ZWE', 'Bulawayo', 621742)
(4070, 'Chitungwiza', 'ZWE', 'Harare', 274912)
(4071, 'Mount Darwin', 'ZWE', 'Harare', 164362)
(4072, 'Mutare', 'ZWE', 'Manicaland', 131367)
(4073, 'Gweru', 'ZWE', 'Midlands', 128037)
(4074, 'Gaza', 'PSE', 'Gaza', 353632)
(4075, 'Khan Yunis', 'PSE', 'Khan Yunis', 123175)
(4076, 'Hebron', 'PSE', 'Hebron', 119401)
(4077, 'Jabaliya', 'PSE', 'North Gaza', 113901)
(4078, 'Nablus', 'PSE', 'Nablus', 100231)
(4079, 'Rafah', 'PSE', 'Rafah', 92020)